In [1]:
import pandas as pd
import numpy as np
import time
import datetime
from datetime import datetime, timedelta, timezone

---

In [2]:
activity2 = pd.read_csv("C:\\Users\\ylin\\Desktop\\ias file\\activity_updated_2.csv")
impression2 = pd.read_csv("C:\\Users\\ylin\\Desktop\\ias file\\impression_updated.csv")

C:\Users\ylin\AppData\Local\Continuum\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (10,38,47,48) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\ylin\AppData\Local\Continuum\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (10,30,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
activity2.columns

Index(['Event_Time', 'User_ID', 'Advertiser_ID', 'Campaign_ID', 'Ad_ID',
       'Rendering_ID', 'Creative_Version', 'Site_ID_DCM', 'Placement_ID',
       'Country_Code',
       ...
       'DBM_Media_Fee_4_Advertiser_Currency',
       'DBM_Media_Fee_4_Partner_Currency', 'DBM_Media_Fee_4_USD',
       'DBM_Media_Fee_5_Advertiser_Currency',
       'DBM_Media_Fee_5_Partner_Currency', 'DBM_Media_Fee_5_USD',
       'DBM_Media_Cost_Advertiser_Currency', 'DBM_Media_Cost_Partner_Currency',
       'DBM_Media_Cost_USD', 'Country_ID'],
      dtype='object', length=106)

In [4]:
activity2.Activity_ID.unique()

array([6060602, 6066102,  320052,  320216,  320217, 6065499,  320053], dtype=int64)

In [5]:
activity2["measurable"] = 0
activity2["viewable"] = 0
activity2["fraud"] = 0
activity2["HI_Quote"] = 0
activity2["HI_Sales"] = 0

In [6]:
activity2.loc[activity2.Activity_ID == 6060602, "measurable"] = 1
activity2.loc[activity2.Activity_ID == 6066102, "viewable"] = 1
activity2.loc[activity2.Activity_ID == 6065499, "fraud"] = 1
activity2.loc[activity2.Activity_ID == 320052, "HI_Quote"] = 1
activity2.loc[activity2.Activity_ID == 320053, "HI_Sales"] = 1

In [7]:
activity2.head()

,Event_Time,User_ID,Advertiser_ID,Campaign_ID,Ad_ID,Rendering_ID,Creative_Version,Site_ID_DCM,Placement_ID,Country_Code,...,DBM_Media_Fee_5_USD,DBM_Media_Cost_Advertiser_Currency,DBM_Media_Cost_Partner_Currency,DBM_Media_Cost_USD,Country_ID,measurable,viewable,fraud,HI_Quote,HI_Sales
0,1509706037229135,AMsySZbr8wQQVu3BaX-1gaIR1iKm,1268443,20334041,405784247,74877651,2,984668,205802572,UK,...,0,0,0,0,NaN,1,0,0,0,0
1,1509810452397709,AMsySZYbdWiWkPXtZayzLMs2Y0n4,1268443,20334041,405784247,74877651,2,984668,205802572,UK,...,0,0,0,0,NaN,1,0,0,0,0
2,1509392518711032,AMsySZYbERQ1bqUpPiwsqPtbsxj0,1268443,20334041,405784226,74877651,2,984668,205748492,UK,...,0,0,0,0,NaN,1,0,0,0,0
3,1509384641603742,AMsySZaCFXyReIBmy0hVjT7rNRn7,1268443,20334041,405784247,74877651,2,984668,205802572,UK,...,0,0,0,0,NaN,1,0,0,0,0
4,1509384641393528,AMsySZaCFXyReIBmy0hVjT7rNRn7,1268443,20334041,405784247,74877651,2,984668,205802572,UK,...,0,0,0,0,NaN,1,0,0,0,0

In [8]:
activity2.viewable.sum()/activity2.measurable.sum()

0.7450972549198875

In [9]:
activity2.head()

,Event_Time,User_ID,Advertiser_ID,Campaign_ID,Ad_ID,Rendering_ID,Creative_Version,Site_ID_DCM,Placement_ID,Country_Code,...,DBM_Media_Fee_5_USD,DBM_Media_Cost_Advertiser_Currency,DBM_Media_Cost_Partner_Currency,DBM_Media_Cost_USD,Country_ID,measurable,viewable,fraud,HI_Quote,HI_Sales
0,1509706037229135,AMsySZbr8wQQVu3BaX-1gaIR1iKm,1268443,20334041,405784247,74877651,2,984668,205802572,UK,...,0,0,0,0,NaN,1,0,0,0,0
1,1509810452397709,AMsySZYbdWiWkPXtZayzLMs2Y0n4,1268443,20334041,405784247,74877651,2,984668,205802572,UK,...,0,0,0,0,NaN,1,0,0,0,0
2,1509392518711032,AMsySZYbERQ1bqUpPiwsqPtbsxj0,1268443,20334041,405784226,74877651,2,984668,205748492,UK,...,0,0,0,0,NaN,1,0,0,0,0
3,1509384641603742,AMsySZaCFXyReIBmy0hVjT7rNRn7,1268443,20334041,405784247,74877651,2,984668,205802572,UK,...,0,0,0,0,NaN,1,0,0,0,0
4,1509384641393528,AMsySZaCFXyReIBmy0hVjT7rNRn7,1268443,20334041,405784247,74877651,2,984668,205802572,UK,...,0,0,0,0,NaN,1,0,0,0,0

In [12]:
activity2["Event_Time_2"] = 0

In [15]:
activity2.loc[0,"Event_Time_2"] = datetime.fromtimestamp(int(activity2.Event_Time[0])/1000000)

In [16]:
activity2.head()

,Event_Time,User_ID,Advertiser_ID,Campaign_ID,Ad_ID,Rendering_ID,Creative_Version,Site_ID_DCM,Placement_ID,Country_Code,...,DBM_Media_Cost_Advertiser_Currency,DBM_Media_Cost_Partner_Currency,DBM_Media_Cost_USD,Country_ID,measurable,viewable,fraud,HI_Quote,HI_Sales,Event_Time_2
0,1509706037229135,AMsySZbr8wQQVu3BaX-1gaIR1iKm,1268443,20334041,405784247,74877651,2,984668,205802572,UK,...,0,0,0,NaN,1,0,0,0,0,2017-11-03 10:47:17.229135
1,1509810452397709,AMsySZYbdWiWkPXtZayzLMs2Y0n4,1268443,20334041,405784247,74877651,2,984668,205802572,UK,...,0,0,0,NaN,1,0,0,0,0,2017-11-04 15:47:32.397709
2,1509392518711032,AMsySZYbERQ1bqUpPiwsqPtbsxj0,1268443,20334041,405784226,74877651,2,984668,205748492,UK,...,0,0,0,NaN,1,0,0,0,0,2017-10-30 19:41:58.711032
3,1509384641603742,AMsySZaCFXyReIBmy0hVjT7rNRn7,1268443,20334041,405784247,74877651,2,984668,205802572,UK,...,0,0,0,NaN,1,0,0,0,0,2017-10-30 17:30:41.603742
4,1509384641393528,AMsySZaCFXyReIBmy0hVjT7rNRn7,1268443,20334041,405784247,74877651,2,984668,205802572,UK,...,0,0,0,NaN,1,0,0,0,0,2017-10-30 17:30:41.393528

In [17]:
i = 0
activity2["Event_Time_2"] = 0
while i < len(activity2.Event_Time):
    activity2.loc[i,"Event_Time_2"] = datetime.fromtimestamp(int(activity2.Event_Time[i])/1000000)
    i = i+1

In [47]:
activity2["Event_Time_3"] = activity2.Event_Time_2.astype("str")

In [59]:
activity2["Event_Time_4"] = activity2.Event_Time_3.str[:16]

In [61]:
activity2["Event_User"] = activity2.Event_Time_4 + "_" + activity2.User_ID

In [62]:
activity2.loc[:, ["Event_User", "User_ID", "measurable", "viewable", "fraud", "HI_Quote", "HI_Sales"]].to_csv("C:\\Users\\ylin\\Desktop\\ias file\\"+"ias stats.csv")

In [72]:
activity2.Event_Time_4.sort_values(ascending=True)

192586    2017-10-26 08:41
106127    2017-10-26 09:05
63654     2017-10-26 09:14
104685    2017-10-26 09:26
105332    2017-10-26 09:29
80313     2017-10-26 09:31
105635    2017-10-26 09:39
141871    2017-10-26 09:40
212736    2017-10-26 09:55
174475    2017-10-26 10:01
212674    2017-10-26 10:06
211652    2017-10-26 10:09
148561    2017-10-26 10:42
110425    2017-10-26 10:44
143001    2017-10-26 10:46
109909    2017-10-26 10:49
107132    2017-10-26 10:50
184035    2017-10-26 10:51
202692    2017-10-26 10:56
285350    2017-10-26 11:00
271449    2017-10-26 11:04
268726    2017-10-26 11:14
6071      2017-10-26 11:14
86800     2017-10-26 11:23
280454    2017-10-26 11:25
122955    2017-10-26 11:26
62433     2017-10-26 11:35
281749    2017-10-26 11:41
225080    2017-10-26 11:47
224297    2017-10-26 11:49
                ...
296308    2017-11-06 23:46
28992     2017-11-06 23:46
254855    2017-11-06 23:46
106023    2017-11-06 23:46
29415     2017-11-06 23:46
298521    2017-11-06 23:46
251015    2017-11-06 23:46
112498    2017-11-06 23:46
143401    2017-11-06 23:46
204810    2017-11-06 23:46
76416     2017-11-06 23:46
138162    2017-11-06 23:47
196190    2017-11-06 23:47
193927    2017-11-06 23:48
137794    2017-11-06 23:48
103683    2017-11-06 23:49
139227    2017-11-06 23:49
182701    2017-11-06 23:50
163764    2017-11-06 23:52
201438    2017-11-06 23:53
12519     2017-11-06 23:54
61298     2017-11-06 23:54
212247    2017-11-06 23:56
74907     2017-11-06 23:56
211140    2017-11-06 23:56
258187    2017-11-06 23:57
300579    2017-11-06 23:58
119646    2017-11-06 23:58
63135     2017-11-06 23:59
188299    2017-11-06 23:59
Name: Event_Time_4, Length: 307079, dtype: object

In [64]:
len(activity2.DBM_Auction_ID.unique())

453

In [69]:
i = 0
while i < len(activity2.columns):
    print(activity2.columns[i])
    i = i +1

Event_Time
User_ID
Advertiser_ID
Campaign_ID
Ad_ID
Rendering_ID
Creative_Version
Site_ID_DCM
Placement_ID
Country_Code
State_Region
Browser_Platform_ID
Browser_Platform_Version
Operating_System_ID
U_Value
TRAN_Value
Other_Data
ORD_Value
Interaction_Time
Conversion_ID
Segment_Value_1
Event_Sub_Type
Activity_ID
Event_Type
Floodlight_Configuration
DBM_Browser_Timezone_Offset_Minutes
DBM_Browser_Platform_ID
DBM_Device_Type
DBM_Mobile_Make_ID
DBM_Mobile_Model_ID
DBM_Net_Speed
DBM_Operating_System_ID
DBM_Bid_Price_Advertiser_Currency
DBM_Bid_Price_Partner_Currency
DBM_Bid_Price_USD
DBM_Ad_Position
DBM_Advertiser_ID
DBM_Adx_Page_Categories
DBM_Attributed_Inventory_Source_External_ID
DBM_Attributed_Inventory_Source_Is_Public
DBM_Auction_ID
DBM_Creative_ID
DBM_Exchange_ID
DBM_Insertion_Order_ID
DBM_ISP_ID
DBM_Language
DBM_Line_Item_ID
DBM_Matching_Targeted_Keywords
DBM_Matching_Targeted_Segments
DBM_Request_Time
DBM_Site_ID
DBM_URL
DBM_City_ID
DBM_Country_Code
DBM_Designated_Market_Area_DMA_ID
DBM_State_Region_ID
DBM_ZIP_Postal_Code
Partner1_ID
Total_Conversions
Total_Revenue
DBM_Billable_Cost_Advertiser_Currency
DBM_Billable_Cost_Partner_Currency
DBM_Billable_Cost_USD
DBM_Total_Media_Cost_Advertiser_Currency
DBM_Total_Media_Cost_Partner_Currency
DBM_Total_Media_Cost_USD
DBM_Revenue_Advertiser_Currency
DBM_Revenue_Partner_Currency
DBM_Revenue_USD
DBM_CPM_Fee_1_Advertiser_Currency
DBM_CPM_Fee_1_Partner_Currency
DBM_CPM_Fee_1_USD
DBM_CPM_Fee_2_Advertiser_Currency
DBM_CPM_Fee_2_Partner_Currency
DBM_CPM_Fee_2_USD
DBM_CPM_Fee_3_Advertiser_Currency
DBM_CPM_Fee_3_Partner_Currency
DBM_CPM_Fee_3_USD
DBM_CPM_Fee_4_Advertiser_Currency
DBM_CPM_Fee_4_Partner_Currency
DBM_CPM_Fee_4_USD
DBM_CPM_Fee_5_Advertiser_Currency
DBM_CPM_Fee_5_Partner_Currency
DBM_CPM_Fee_5_USD
DBM_Data_Fees_Advertiser_Currency
DBM_Data_Fees_Partner_Currency
DBM_Data_Fees_USD
DBM_Media_Fee_1_Advertiser_Currency
DBM_Media_Fee_1_Partner_Currency
DBM_Media_Fee_1_USD
DBM_Media_Fee_2_Advertiser_Currency
DBM_Media_Fee_2_Partner_Currency
DBM_Media_Fee_2_USD
DBM_Media_Fee_3_Advertiser_Currency
DBM_Media_Fee_3_Partner_Currency
DBM_Media_Fee_3_USD
DBM_Media_Fee_4_Advertiser_Currency
DBM_Media_Fee_4_Partner_Currency
DBM_Media_Fee_4_USD
DBM_Media_Fee_5_Advertiser_Currency
DBM_Media_Fee_5_Partner_Currency
DBM_Media_Fee_5_USD
DBM_Media_Cost_Advertiser_Currency
DBM_Media_Cost_Partner_Currency
DBM_Media_Cost_USD
Country_ID
measurable
viewable
fraud
HI_Quote
HI_Sales
Event_Time_2
Event_Time_3
Event_Time_4
Event_User

In [70]:
activity2.DBM_Insertion_Order_ID.unique()

array([      nan,  3863579.,  3863580.])

In [280]:
oactivity["cTime"] = pd.to_datetime(oactivity["Event_Time"])

In [281]:
oactivity["cTime"] = oactivity["cTime"].astype("str")

In [282]:
oactivity.cTime = oactivity.cTime.str[:20]

In [283]:
oactivity["Event_User"] = oactivity.cTime + "_" + oactivity.User_ID

In [284]:
oactivity.head()

,Event_Time,User_ID,Advertiser_ID,Campaign_ID,Ad_ID,Rendering_ID,Creative_Version,Site_ID_DCM,Placement_ID,Country_Code,...,DBM_Media_Fee_4_USD,DBM_Media_Fee_5_Advertiser_Currency,DBM_Media_Fee_5_Partner_Currency,DBM_Media_Fee_5_USD,DBM_Media_Cost_Advertiser_Currency,DBM_Media_Cost_Partner_Currency,DBM_Media_Cost_USD,Country_ID,cTime,Event_User
0,1507279103422175,AMsySZYm0qlBhhrKuveCqplzoFG8,1268443,20334041,405784226,74877651,2,984668,205748492,UK,...,0,0,0,0,0,0,0,NaN,1970-01-18 10:41:19.,1970-01-18 10:41:19._AMsySZYm0qlBhhrKuveCqplzoFG8
1,1508834251029799,AMsySZZAnhAEoB2YCKFOT6LI1DzU,1268443,20334041,405784226,74877651,2,984668,205748492,UK,...,0,0,0,0,0,0,0,NaN,1970-01-18 11:07:14.,1970-01-18 11:07:14._AMsySZZAnhAEoB2YCKFOT6LI1DzU
2,1509100517621317,AMsySZbb2LWaWJoOnzFBU2tSiF5x,1268443,20334041,405784226,74877651,2,984668,205748492,UK,...,0,0,0,0,0,0,0,NaN,1970-01-18 11:11:40.,1970-01-18 11:11:40._AMsySZbb2LWaWJoOnzFBU2tSiF5x
3,1508937850041742,AMsySZawbOkGD6PbMbUBjeMgZHXW,1268443,20334041,405784247,74877651,2,984668,205802572,UK,...,0,0,0,0,0,0,0,NaN,1970-01-18 11:08:57.,1970-01-18 11:08:57._AMsySZawbOkGD6PbMbUBjeMgZHXW
4,1507278946575818,AMsySZYneWxiAIk3BHjs6qzsOq_D,1268443,20334041,405784247,74877651,2,984668,205802572,UK,...,0,0,0,0,0,0,0,NaN,1970-01-18 10:41:18.,1970-01-18 10:41:18._AMsySZYneWxiAIk3BHjs6qzsOq_D

In [285]:
oactivity["measurable_6060602"] = 0
oactivity["viewable_6066102"] = 0
oactivity["fraud_6065499"] = 0
oactivity["HI_Quote_320052"] = 0
oactivity["HI_Sales_320053"] = 0

In [286]:
oactivity.loc[oactivity.Activity_ID == 6060602, "measurable_6060602"] = 1
oactivity.loc[oactivity.Activity_ID == 6066102, "viewable_6066102"] = 1
oactivity.loc[oactivity.Activity_ID == 6065499, "fraud_6065499"] = 1
oactivity.loc[oactivity.Activity_ID == 320052, "HI_Quote_320052"] = 1
oactivity.loc[oactivity.Activity_ID == 320053, "HI_Sales_320053"] = 1

In [287]:
oactivity.head()

,Event_Time,User_ID,Advertiser_ID,Campaign_ID,Ad_ID,Rendering_ID,Creative_Version,Site_ID_DCM,Placement_ID,Country_Code,...,DBM_Media_Cost_Partner_Currency,DBM_Media_Cost_USD,Country_ID,cTime,Event_User,measurable_6060602,viewable_6066102,fraud_6065499,HI_Quote_320052,HI_Sales_320053
0,1507279103422175,AMsySZYm0qlBhhrKuveCqplzoFG8,1268443,20334041,405784226,74877651,2,984668,205748492,UK,...,0,0,NaN,1970-01-18 10:41:19.,1970-01-18 10:41:19._AMsySZYm0qlBhhrKuveCqplzoFG8,0,0,0,1,0
1,1508834251029799,AMsySZZAnhAEoB2YCKFOT6LI1DzU,1268443,20334041,405784226,74877651,2,984668,205748492,UK,...,0,0,NaN,1970-01-18 11:07:14.,1970-01-18 11:07:14._AMsySZZAnhAEoB2YCKFOT6LI1DzU,0,0,0,1,0
2,1509100517621317,AMsySZbb2LWaWJoOnzFBU2tSiF5x,1268443,20334041,405784226,74877651,2,984668,205748492,UK,...,0,0,NaN,1970-01-18 11:11:40.,1970-01-18 11:11:40._AMsySZbb2LWaWJoOnzFBU2tSiF5x,0,0,0,1,0
3,1508937850041742,AMsySZawbOkGD6PbMbUBjeMgZHXW,1268443,20334041,405784247,74877651,2,984668,205802572,UK,...,0,0,NaN,1970-01-18 11:08:57.,1970-01-18 11:08:57._AMsySZawbOkGD6PbMbUBjeMgZHXW,0,0,0,1,0
4,1507278946575818,AMsySZYneWxiAIk3BHjs6qzsOq_D,1268443,20334041,405784247,74877651,2,984668,205802572,UK,...,0,0,NaN,1970-01-18 10:41:18.,1970-01-18 10:41:18._AMsySZYneWxiAIk3BHjs6qzsOq_D,0,0,0,1,0

In [289]:
oactivity.pivot_table(index="Event_User", values=["measurable_6060602","viewable_6066102", "HI_Sales_320053", "HI_Quote_320052"], aggfunc=np.sum).sort_values("HI_Quote_320052", ascending=False).to_csv("C:\\Users\\ylin\\Desktop\\ias file\\"+"ias stats.csv")

In [252]:
oactivity.columns

Index(['Event_Time', 'User_ID', 'Advertiser_ID', 'Campaign_ID', 'Ad_ID',
       'Rendering_ID', 'Creative_Version', 'Site_ID_DCM', 'Placement_ID',
       'Country_Code',
       ...
       'DBM_Media_Cost_Partner_Currency', 'DBM_Media_Cost_USD', 'Country_ID',
       'cTime', 'Event_User', 'measurable_6060602', 'viewable_6066102',
       'fraud_6065499', 'HI_Quote_320052', 'HI_Sales_320053'],
      dtype='object', length=113)

In [239]:
len(oactivity.DBM_Auction_ID.unique())

771

In [238]:
len(oactivity.Event_User)

139664

In [ ]:
oactivity.DBM_Insertion