In [1]:
import pandas as pd
import numpy as np

In [2]:
activity = pd.read_csv("C:\\Users\\ylin\\Desktop\\ias file\\activity.csv")
impression = pd.read_csv("C:\\Users\\ylin\\Desktop\\ias file\\impressions.csv")

C:\Users\ylin\AppData\Local\Continuum\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
activity.columns

Index(['Event_Time', 'User_ID', 'Advertiser_ID', 'Campaign_ID', 'Site_ID_DCM',
       'Placement_ID', 'Activity_ID', 'DBM_Device_Type', 'DBM_Advertiser_ID',
       'DBM_Attributed_Inventory_Source_Is_Public', 'DBM_Auction_ID',
       'DBM_Insertion_Order_ID', 'DBM_Line_Item_ID', 'Total_Conversions',
       'Total_Revenue', 'DBM_Revenue_Advertiser_Currency'],
      dtype='object')

In [4]:
activity.User_ID.count()

139664

In [5]:
impression.User_ID.count()

632678

In [6]:
impression.User_ID[impression.DBM_Insertion_Order_ID == 3863579].count()

364785

In [7]:
activity.columns

Index(['Event_Time', 'User_ID', 'Advertiser_ID', 'Campaign_ID', 'Site_ID_DCM',
       'Placement_ID', 'Activity_ID', 'DBM_Device_Type', 'DBM_Advertiser_ID',
       'DBM_Attributed_Inventory_Source_Is_Public', 'DBM_Auction_ID',
       'DBM_Insertion_Order_ID', 'DBM_Line_Item_ID', 'Total_Conversions',
       'Total_Revenue', 'DBM_Revenue_Advertiser_Currency'],
      dtype='object')

In [8]:
activity.Activity_ID.unique()

array([ 320052,  320053,  320216,  320217, 6060602, 6065499, 6066102], dtype=int64)

In [9]:
activity['DBM_Insertion_Order_ID'].unique()

array([ 3863580.,  3863579.,       nan])

In [10]:
impression['DBM_Insertion_Order_ID'].unique()

array([3863580, 3863579], dtype=int64)

In [11]:
len(activity.DBM_Auction_ID.unique())

771

In [12]:
len(activity.DBM_Auction_ID)

139664

---

In [65]:
activity2 = pd.read_csv("C:\\Users\\ylin\\Desktop\\ias file\\activity_2.csv")
impression2 = pd.read_csv("C:\\Users\\ylin\\Desktop\\ias file\\impressions_2.csv")

In [33]:
activity2[activity2.Activity_ID.isin([6060602, 6065499, 6066102])].pivot_table(values="Site_ID_DCM", index=["Activity_ID", "Placement_ID"], aggfunc="count")

                          Site_ID_DCM
Activity_ID Placement_ID
6060602     205748492           13424
            205748495            1941
            205800991            6796
            205800997            3189
            205801000            3996
            205802110            2329
            205802569            6174
            205802572           11201
            205802575           14169
            205803697            4554
            205803703            8074
            205803706            2932
6065499     205748492              45
            205748495               1
            205800991              23
            205800997              15
            205801000               7
            205802110               6
            205802569              29
            205802572              40
            205802575              71
            205803697              12
            205803703              28
            205803706              17
6066102     205748492           10278
            205748495            1436
            205800991            4766
            205800997            2456
            205801000            3170
            205802110            1678
            205802569            4171
            205802572            8142
            205802575           10632
            205803697            3745
            205803703            5650
            205803706            2197

In [37]:
activity2.columns

Index(['Event_User', 'Event_Time', 'User_ID', 'Advertiser_ID', 'Campaign_ID',
       'Site_ID_DCM', 'Placement_ID', 'Activity_ID', 'DBM_Device_Type',
       'DBM_Advertiser_ID', 'DBM_Attributed_Inventory_Source_Is_Public',
       'DBM_Auction_ID', 'DBM_Insertion_Order_ID', 'DBM_Line_Item_ID',
       'Total_Conversions', 'Total_Revenue',
       'DBM_Revenue_Advertiser_Currency'],
      dtype='object')

In [56]:
activity2.Activity_ID.unique()

array([ 320052,  320053,  320216,  320217, 6066102, 6060602, 6065499], dtype=int64)

In [67]:
activity2["measurable_6060602"] = 0
activity2["viewa_ble_6066102"] = 0
activity2["fraud6065499"] = 0
activity2["HI_Quote_320052"] = 0
activity2["HI_Sales_320053"] = 0

In [68]:
activity2.loc[activity2.Activity_ID == 6060602, "measurable_6060602"] = 1
activity2.loc[activity2.Activity_ID == 6066102, "viewable_6066102"] = 1
activity2.loc[activity2.Activity_ID == 6065499, "fraud_6065499"] = 1
activity2.loc[activity2.Activity_ID == 320052, "HI_Quote_320052"] = 1
activity2.loc[activity2.Activity_ID == 320053, "HI_Sales_320053"] = 1

In [69]:
activity2.columns

Index(['Event_User', 'Event_Time', 'User_ID', 'Advertiser_ID', 'Campaign_ID',
       'Site_ID_DCM', 'Placement_ID', 'Activity_ID', 'DBM_Device_Type',
       'DBM_Advertiser_ID', 'DBM_Attributed_Inventory_Source_Is_Public',
       'DBM_Auction_ID', 'DBM_Insertion_Order_ID', 'DBM_Line_Item_ID',
       'Total_Conversions', 'Total_Revenue', 'DBM_Revenue_Advertiser_Currency',
       'measurable_6060602', 'viewa_ble_6066102', 'fraud6065499',
       'HI_Quote_320052', 'HI_Sales_320053', 'viewable_6066102',
       'fraud_6065499'],
      dtype='object')

In [75]:
activity2.viewable_6066102.sum()

58321.0

In [78]:
activity2.measurable_6060602.sum()

78779

In [79]:
len(activity2.viewable_6066102)

139664