In [7]:
import numpy as np
import pandas as pd
import glob

In [6]:
glob.glob("*.csv")

['Publisher_data_2017_Feb.csv', 'Publisher_data_2017_Jan.csv']

In [73]:
#load it without columne header
pub = pd.read_csv("Publisher_data_2017_Feb.csv", header=None)

C:\Program Files\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (2,4,6,9,10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [111]:
frame = pd.DataFrame()
for ggg in glob.glob("*.csv"):
    df = pd.read_csv(ggg)
    df = df[df["App/URL"].isnull() == False]
    frame = frame.append(df, ignore_index=True)

C:\Program Files\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [76]:
xyz = pd.DataFrame([[1, 2, 3] , [2, 3, 4], [4, 5, 6]])

In [84]:
hhh = pd.DataFrame([[4, 4, 4]])

In [114]:
frame.tail()

,Month,Advertiser,Advertiser ID,Advertiser Status,Advertiser Integration Code,App/URL,App/URL ID,Public Inventory,Advertiser Currency,Impressions,Clicks,Revenue (Adv Currency)
967883,2017/01,Toyota_UK_Zenith,5071.0,Active,NaN,zr.ru,39545403337,Yes,GBP,1.0,0.0,0.006553
967884,2017/01,Toyota_UK_Zenith,5071.0,Active,NaN,ztv.ro,17788932040,Yes,GBP,1.0,0.0,0.002434
967885,2017/01,Toyota_UK_Zenith,5071.0,Active,NaN,zuri.net,2186022247,Yes,GBP,1.0,0.0,0.003486
967886,2017/01,Toyota_UK_Zenith,5071.0,Active,NaN,zyczenia.sennik.biz,34388857745,Yes,GBP,1.0,0.0,0.003198
967887,2017/01,Toyota_UK_Zenith,5071.0,Active,NaN,zzz.sk,29419059210,Yes,GBP,2.0,0.0,0.004135

In [115]:
ccc = pd.read_csv("Publisher_data_2017_Feb.csv")

C:\Program Files\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [74]:
pub=pub.drop(pub.index[0])

In [56]:
pub = pub[pub["App/URL"].isnull() == False]