In [516]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob
import time
import csv
%matplotlib inline

---

In [517]:
#DBM data below

In [518]:
DBM = pd.DataFrame()
for file in glob.glob("DBM*.csv"):
    df = pd.read_csv(file)
    df = df[df["Advertiser Currency"].isnull() == False]
    DBM = DBM.append(df, ignore_index=True)

In [519]:
DBM = DBM.loc[:, ["Month", "Advertiser", "Public Inventory", "Impressions", 
                  "Clicks", "Revenue (Adv Currency)", "Media Cost (Advertiser Currency)", "Advertiser Currency"]]

In [520]:
DBM.columns = ["Month", "Advertiser", "Public", "Impressions", "Clicks", "Spend", "Media", "Currency"]

In [521]:
DBM["DSP"] = "DBM"
DBM["Type"] = "General"

---

In [522]:
#YouTube/TrueView data below

In [523]:
YT = pd.DataFrame()
for file in glob.glob("YT*.csv"):
    df = pd.read_csv(file)
    df = df[df["Advertiser Currency"].isnull() == False]
    YT = YT.append(df, ignore_index=True)

In [524]:
YT["Public"] = "N/A"
YT["DSP"] = "DBM"
YT["Type"] = "TrueView"

In [525]:
YT = YT.loc[:, ["Month", "Advertiser", "Public","Impressions", 
                "Clicks", "Revenue (Adv Currency)", "Media Cost (Advertiser Currency)", "Advertiser Currency", "DSP", "Type"]]

In [526]:
YT.columns = ['Month', 'Advertiser', 'Public', 'Impressions', 'Clicks',
       'Spend', 'Media', 'Currency', 'DSP', 'Type']

---

In [527]:
#Videology data below
#please note the data in the template the time frame please select the specific time rather than 'last month'

In [528]:
videology = pd.DataFrame()
for file in glob.glob("Videology*.csv"):
    df = pd.read_csv(file)
    df = df[df["Placement ID"].isnull() == False]
    videology = videology.append(df, ignore_index=True)

In [529]:
videology.columns = ["Advertiser", "Placement", "PlacementName", "Date", "Impressions", "Spend", "Clicks"]

In [530]:
list1=[]
for month in videology.Date:
    g = month[-4:] + "/" + "{0:0=2d}".format(time.strptime(month[:3], "%b").tm_mon)
    list1.append(g)

In [531]:
#repmoving the thousand separator 
videology.Impressions = videology.Impressions.apply(lambda x: float(x.split()[0].replace(',', '')))
videology.Clicks = videology.Clicks.apply(lambda x: float(x.split()[0].replace(',', '')))
videology.Spend = videology.Spend.apply(lambda x: float(x.split()[0].replace(',', '')))

In [532]:
videology["Currency"] = "GBP"
videology["DSP"] = "Videology"
videology["Type"] = "General"
videology.loc[(videology.PlacementName.str.contains("Channel 4")) | 
              (videology.PlacementName.str.contains("C4")), "Type"] = "Channel 4"
videology["Media"] = videology.Spend * 0.7
videology.loc[videology.Type == "Channel 4", "Media"] = videology.Spend * 0.8
videology["Public"] = "N/A"
videology["Month"] = list1

In [533]:
videology = videology.loc[:, ['Month', 'Advertiser', 'Public', 'Impressions', 'Clicks', 'Spend',
       'Media', 'Currency', 'DSP', 'Type']]

---

In [534]:
#TheTradeDesk data below

In [535]:
TTD = pd.DataFrame()
for file in glob.glob("TTTD*.csv"):
    df=pd.read_csv(file)
    TTD = TTD.append(df, ignore_index=True)

In [536]:
TTD["Month"] = TTD.Date.str.split("/").str[2] + "/" + TTD.Date.str.split("/").str[1]
TTD["Public"] = "Yes"
TTD.loc[TTD["Inventory Contract"].isnull() != True, "Public"] = "No"
TTD["DSP"] = "TTD"
TTD["Type"] = "Genral"

In [537]:
TTD.columns = ['Date', 'Advertiser', 'Currency', 'Inventory Contract','Impressions', 'Clicks', 'Spend',
       'Media', 'Month', 'Public', 'DSP', 'Type']

In [538]:
TTD = TTD.loc[:, ["Month", "Advertiser", "Public", "Impressions", "Clicks", "Spend", "Media", "Currency", "DSP", "Type"]]

In [539]:
TTD.Spend = TTD.Spend.str.replace(",", "")
TTD.Spend = pd.to_numeric(TTD.Spend) / 100000000000000
TTD.Media = TTD.Media.str.replace(",", "")
TTD.Media = pd.to_numeric(TTD.Media) / 100000000000000

---

In [540]:
#RocketFuel data below

In [541]:
RF = pd.DataFrame()
for file in glob.glob("RF*.csv"):
    df = pd.read_csv(file)
    RF = RF.append(df, ignore_index=True)
RF.Spend = RF.Spend.str.replace("GBP ", "")
RF["Media Cost"] = RF["Media Cost"].str.replace("GBP ", "")

In [542]:
RF["Public"] = "Yes"
RF.loc[RF["Exchange Deal ID"].isnull() == False, "Public"] = "No"
RF["Month"] = RF["Year and Month"].str.split("-").str[0] + "/" + RF["Year and Month"].str.split("-").str[1]
RF["DSP"] = "RocketFuel"
RF["Type"] = "General"
RF["Currency"] = "GBP"

In [543]:
RF = RF.loc[:, ["Month", "Advertiser", "Public", "Imps", "Clicks", "Spend", "Media Cost", "Currency", "DSP", "Type"]]

In [544]:
RF.columns = ['Month', 'Advertiser', 'Public', 'Impressions', 'Clicks', 'Spend', 'Media', 'Currency', 'DSP', 'Type']

In [545]:
RF.Spend = RF.Spend.astype("float64")
RF.Media = RF.Media.astype("float64")

---

In [546]:
#Amazon data below

In [547]:
AAP_old = pd.read_csv("Amazon_0116_0317.csv")

In [548]:
AAP_old = AAP_old.head(147)

In [549]:
AAP_old.date = AAP_old.date.str.split(" ").str[0]
AAP_old.date = AAP_old.date.str.split("/").str[2] + "/" + AAP_old.date.str.split("/").str[1]

In [550]:
AAP_old.columns = ['Month', 'Advertiser', 'advertiser_id', 'Impressions', 'Clicks',
       'Media', 'net cost', 'agency markup', 'Spend']

In [551]:
AAP = pd.DataFrame()
for file in glob.glob("AAP*.csv"):
    df = pd.read_csv(file, usecols=["Date", "Advertiser", "Impressions", "Clickthroughs", 
                                    "Total Cost", "Supply Cost", "Order Currency"])
    AAP = AAP.append(df, ignore_index=True)

In [552]:
AAP = AAP.drop(AAP.index[AAP["Total Cost"] == 0]).reset_index(drop=True)

In [553]:
list2=[]
for month in AAP.Date:
    g = month[-4:] + "/" + "{0:0=2d}".format(time.strptime(month[:3], "%b").tm_mon)
    list2.append(g)

In [554]:
AAP.Date = list2
AAP["Public"] = "N/A"
AAP["DSP"] = "AAP"
AAP["Type"] = "General"

In [555]:
AAP.columns = ['Month', 'Advertiser', 'Currency', 'Media', 'Spend','Impressions', 'Clicks', 'Public', 'DSP', 'Type']

In [556]:
AAP = AAP.loc[:, ['Month', 'Advertiser', 'Public', 'Impressions', 'Clicks', 'Spend', 'Media', 'Currency', 'DSP', 'Type']]

In [557]:
AAP.Spend = AAP.Spend.convert_objects(convert_numeric=True)

C:\Users\ylin\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  """Entry point for launching an IPython kernel.

---

In [558]:
#Turn data below

In [559]:
TURN_old = pd.read_csv("oldTURN_0317_0417.csv")

In [560]:
TURN_old.Month = TURN_old.Month.str.split("/").str[2] + "/" + TURN_old.Month.str.split("/").str[0]

In [561]:
TURN_old["Public"] = "Yes"
TURN_old.loc[~TURN_old.Deal_ID.isin([-1]), "Public"] = "No"
TURN_old["DSP"] = "TURN"
TURN_old["Type"] = "General"
TURN_old["Media"] = TURN_old.Spend * 0.7

In [562]:
TURN_old = TURN_old.loc[:, ['Month', 'Advertiser', 'Public', 'Impressions','Clicks','Spend','Media','Currency', 'DSP', 'Type']]

In [563]:
TURN = pd.DataFrame()
for file in glob.glob("TURN*.csv"):
    df = pd.read_csv(file, encoding="ISO-8859-1")
    TURN = TURN.append(df, ignore_index=True)

In [564]:
TURN.columns = ['Month', 'Advertiser', 'deal_id', 'deal_name', 'Impressions', 'Clicks', 'Currency', 'Spend']

In [565]:
TURN.Spend = TURN.Spend.str.replace("£", "")
TURN.Spend = TURN.Spend.str.replace(",", "")
TURN.Spend = pd.to_numeric(TURN.Spend)

In [566]:
TURN.Month = TURN.Month.str.split("_").str[0] + "/" + TURN.Month.str.split("_").str[1]

In [567]:
TURN["Public"] = "Yes"
TURN.loc[~(TURN.deal_id == "Unknown"), "Public"] = "No"
TURN["DSP"] = "TURN"
TURN["Type"] = "General"
TURN["Media"] = TURN.Spend * 0.7

In [568]:
TURN = TURN.loc[:, ['Month', 'Advertiser', 'Public', 'Impressions', 'Clicks','Spend','Media','Currency','DSP', 'Type']]
TURN = TURN.append(TURN_old, ignore_index=True)

---

In [569]:
#Data from all DSPs

In [570]:
data = DBM.append([TTD, YT, videology, RF, AAP, TURN], ignore_index=True)

In [571]:
np.unique(data.Currency)
USDtoGBP = 0.77
EURtoGBP = 0.84

In [572]:
data["cSpend"] = data.Spend 
data.loc[data.Currency == "USD","cSpend"] = data.Spend * USDtoGBP
data.loc[data.Currency == "EUR","cSpend"] = data.Spend * EURtoGBP

In [573]:
lookup = pd.read_csv("clientLookUp.csv", encoding="ISO-8859-1")

In [574]:
data = data.merge(lookup[["Advertiser", "AdvertiserConsolidate", "Agency", "AgencySub"]], on="Advertiser", how="left")

In [575]:
data.head()

,Month,Advertiser,Public,Impressions,Clicks,Spend,Media,Currency,DSP,Type,cSpend,AdvertiserConsolidate,Agency,AgencySub
0,2016/07,BBC Store_UK_Zenith,No,43275,59,174.403276,122.083783,GBP,DBM,General,174.403276,BBCStore,Zenith,UK
1,2016/03,Aviva_UK_Zenith (non-DCM),No,12806,438,219.431282,145.403610,GBP,DBM,General,219.431282,AvivaUK,Zenith,UK
2,2016/05,Qantas_UK_Zenith,No,35249,43,176.013562,120.409233,GBP,DBM,General,176.013562,Qantas,Zenith,UK
3,2016/10,Toyota_UK_Zenith,No,1.14894e+07,13085,130165.389485,91336.044259,GBP,DBM,General,130165.389485,Toyota,Zenith,UK
4,2016/07,Hästens_UK_Zenith,No,40890,37,464.743776,325.324612,GBP,DBM,General,464.743776,Hästens,Zenith,UK

---

In [576]:
#file to ZO folder on desktop

In [577]:
data.sort_values("Month", ascending=True).to_csv("C:\\Users\\ylin\\Desktop\\ZO Spend\\"+"ZO spend.csv", index=False)

In [578]:
data.pivot_table(values="cSpend", index="Month", columns=["DSP", "Type", "Public"], 
                 aggfunc=np.sum, margins=True).round().to_csv("C:\\Users\\ylin\\Desktop\\ZO Spend\\"+"ZO spend pivot.csv")

In [579]:
data.pivot_table(values="cSpend", index="AdvertiserConsolidate", 
                 columns=["Month"], aggfunc=np.sum, margins=True).round().to_csv("C:\\Users\\ylin\\Desktop\\ZO Spend\\"+"ZO spend pivot by client.csv")

In [580]:
data.pivot_table(values="cSpend", index=["Agency", "AgencySub"], columns=["DSP", "Type", "Public"], aggfunc=np.sum, margins=True).round().to_csv("C:\\Users\\ylin\\Desktop\\ZO Spend\\"+"ZO spend pivot by agency.csv")

In [581]:
data.pivot_table(values="cSpend", index="Month", columns=["DSP", "Type", "Public"], aggfunc=np.sum, margins=True).round()

DSP           AAP         DBM                        RocketFuel       TTD  \
Type      General     General               TrueView    General    Genral
Public        N/A          No         Yes        N/A        Yes        No
Month
2016/01       NaN    462491.0   2015535.0   126240.0        NaN       NaN
2016/02       NaN    599799.0   2321375.0   180716.0        NaN       NaN
2016/03       NaN   1042068.0   2574432.0   279131.0        NaN       NaN
2016/04       NaN    525837.0   2141692.0   371005.0        NaN       NaN
2016/05       NaN    537853.0   1718345.0   153631.0        NaN       NaN
2016/06       NaN    601384.0   1900652.0   286835.0        NaN       NaN
2016/07       NaN    470456.0   1444104.0   225570.0        NaN   31395.0
2016/08       NaN    685058.0   1577548.0   138528.0        NaN   90540.0
2016/09       NaN    843696.0   1788445.0   172688.0        NaN   63959.0
2016/10       NaN    784882.0   2080459.0   380387.0        NaN      34.0
2016/11       NaN    987119.0   1905395.0   350509.0        NaN   29214.0
2016/12       NaN   1018084.0   1783496.0   174375.0        NaN   80587.0
2017/01       NaN    442769.0   1138666.0   201930.0     5743.0   16078.0
2017/02       NaN    419031.0    947721.0   175352.0     6835.0   15637.0
2017/03       NaN    596981.0   1165207.0   139000.0     5570.0   45042.0
2017/04   25278.0    593276.0   1188412.0   132948.0    22024.0   21149.0
2017/05   20469.0    298205.0    926253.0    63504.0    31687.0   56710.0
2017/06   30055.0    351915.0    961273.0    85682.0        1.0   79248.0
2017/07   21559.0    271127.0    785516.0   120438.0     3704.0   74340.0
2017/08   32519.0    353206.0    788154.0   172132.0    10532.0   58307.0
2017/09   27907.0    409477.0    813817.0   103424.0    14785.0   88593.0
2017/10   34644.0    612566.0   1286887.0   116184.0    65421.0   68197.0
All      192431.0  12907279.0  33253383.0  4150211.0   166302.0  819029.0

DSP                   TURN            Videology                    All
Type               General            Channel 4    General
Public        Yes       No       Yes        N/A        N/A
Month
2016/01       0.0      NaN       NaN        NaN        NaN   2604266.0
2016/02       0.0      NaN       NaN        NaN        NaN   3101890.0
2016/03       NaN      NaN       NaN        NaN        NaN   3895631.0
2016/04    1974.0      NaN       NaN        NaN        NaN   3040509.0
2016/05   10261.0      NaN       NaN   121445.0   341517.0   2883051.0
2016/06   19950.0      NaN       NaN   163329.0   353411.0   3325562.0
2016/07   13668.0      NaN       NaN   104554.0   162814.0   2452561.0
2016/08   32341.0      NaN       NaN   215635.0   113612.0   2853263.0
2016/09   13476.0      NaN       NaN   302641.0   161261.0   3346166.0
2016/10   27429.0      NaN       NaN   831893.0   227547.0   4332630.0
2016/11   26356.0      NaN       NaN   841687.0   145597.0   4285877.0
2016/12   28732.0      NaN       NaN   480049.0    31477.0   3596800.0
2017/01    8943.0      NaN       NaN   264591.0   212558.0   2291277.0
2017/02   27589.0      NaN       NaN   518240.0   228212.0   2338618.0
2017/03   62396.0      0.0   14250.0   433708.0   237404.0   2699557.0
2017/04   50544.0      NaN       1.0   518357.0   147026.0   2699015.0
2017/05   45494.0      2.0    7860.0   483277.0    97798.0   2031258.0
2017/06   31904.0   2204.0   20437.0   345388.0    89350.0   1997456.0
2017/07   23412.0   2387.0   13584.0   350381.0    90070.0   1756518.0
2017/08   17265.0  11497.0   35540.0   345237.0    59077.0   1883465.0
2017/09   19698.0   6390.0   14299.0   413142.0   113248.0   2024780.0
2017/10   16581.0      NaN       NaN   370971.0    57690.0   2629140.0
All      478013.0  22480.0  105969.0  7104524.0  2869669.0  62069290.0

In [582]:
data.head()

,Month,Advertiser,Public,Impressions,Clicks,Spend,Media,Currency,DSP,Type,cSpend,AdvertiserConsolidate,Agency,AgencySub
0,2016/07,BBC Store_UK_Zenith,No,43275,59,174.403276,122.083783,GBP,DBM,General,174.403276,BBCStore,Zenith,UK
1,2016/03,Aviva_UK_Zenith (non-DCM),No,12806,438,219.431282,145.403610,GBP,DBM,General,219.431282,AvivaUK,Zenith,UK
2,2016/05,Qantas_UK_Zenith,No,35249,43,176.013562,120.409233,GBP,DBM,General,176.013562,Qantas,Zenith,UK
3,2016/10,Toyota_UK_Zenith,No,1.14894e+07,13085,130165.389485,91336.044259,GBP,DBM,General,130165.389485,Toyota,Zenith,UK
4,2016/07,Hästens_UK_Zenith,No,40890,37,464.743776,325.324612,GBP,DBM,General,464.743776,Hästens,Zenith,UK

In [583]:
data.loc[data.AdvertiserConsolidate == "SCA",:].pivot_table(values="cSpend", 
                 index="Month", columns=["DSP", "Type", "Public"], aggfunc=np.sum, margins=True).round()

DSP           DBM                         TURN          Videology           \
Type      General            TrueView  General          Channel 4  General
Public         No       Yes       N/A       No      Yes       N/A      N/A
Month
2016/01    8132.0   17245.0       NaN      NaN      NaN       NaN      NaN
2016/02   21874.0   27135.0       NaN      NaN      NaN       NaN      NaN
2016/03    1464.0    1201.0       NaN      NaN      NaN       NaN      NaN
2016/04   10350.0    2660.0       NaN      NaN      NaN       NaN      NaN
2016/05    4317.0    6335.0       NaN      NaN      NaN    6918.0  17405.0
2016/06   14867.0    8940.0       NaN      NaN      NaN       NaN      NaN
2016/07   20884.0   14565.0       NaN      NaN      NaN       NaN      NaN
2016/08    8712.0   34221.0       NaN      NaN      NaN   44785.0      NaN
2016/09   13802.0   47814.0       NaN      NaN      NaN   21227.0      NaN
2016/10    7173.0   25523.0       NaN      NaN      NaN   11060.0      NaN
2016/11    8844.0   26119.0       NaN      NaN      NaN   31492.0      NaN
2016/12    4099.0       0.0       NaN      NaN      NaN   43589.0      NaN
2017/01       NaN   39394.0   39394.0      NaN      NaN       NaN      NaN
2017/02    6880.0   16454.0   16454.0      NaN      NaN   19191.0   6816.0
2017/03   10204.0   30746.0   30746.0      NaN      NaN   21344.0  20345.0
2017/04       NaN  115469.0  115469.0      NaN      NaN   12028.0   3123.0
2017/05       NaN   29399.0   29399.0      0.0   2561.0   18609.0   4604.0
2017/06       NaN       NaN       NaN    348.0    806.0   10224.0   5510.0
2017/07       NaN    8943.0    8943.0    808.0   9749.0   16624.0   5379.0
2017/08       NaN   38850.0   38850.0  11497.0  35540.0   69355.0   4113.0
2017/09   14119.0   23493.0   23493.0   6390.0  14299.0   39987.0  17460.0
2017/10   10609.0   54463.0   54463.0      NaN      NaN   38176.0   6867.0
All      166331.0  568968.0  357211.0  19042.0  62955.0  404608.0  91622.0

DSP            All
Type
Public
Month
2016/01    25377.0
2016/02    49009.0
2016/03     2665.0
2016/04    13010.0
2016/05    34974.0
2016/06    23807.0
2016/07    35449.0
2016/08    87719.0
2016/09    82844.0
2016/10    43756.0
2016/11    66455.0
2016/12    47688.0
2017/01    78788.0
2017/02    65795.0
2017/03   113386.0
2017/04   246087.0
2017/05    84571.0
2017/06    16888.0
2017/07    50445.0
2017/08   198204.0
2017/09   139241.0
2017/10   164579.0
All      1670737.0

In [584]:
#AdvertiserList = pd.DataFrame(data=data.Advertiser.unique().tolist(), columns=["AdvertiserName"])
#AdvertiserList = AdvertiserList.sort_values(by="AdvertiserName", ascending=True).reset_index(drop=True)
#AdvertiserList.to_csv("C:\\Users\\ylin\\Desktop\\GitHub-Python\\Project\\Advertiser spend\\"+"ClientLookUp.csv", index=False)

In [585]:
#new client check
set(data.Advertiser.unique()) - set(lookup.Advertiser)

{'Acer_DE_Zenith',
 'Acer_FR_Zenith',
 'Aviva_Zenith',
 'HP P&C (USD)_UK_Performics',
 'HP Solvent (USD)_UK_Performics',
 'HP Supplies (USD)_UK_Performics'}

In [586]:
data.loc[data.AdvertiserConsolidate == "SCA",:].to_csv("C:\\Users\\ylin\\Desktop\\ZO Spend\\"+"SCA spend.csv")