In [7]:
import numpy as np
import pandas as pd
import glob

In [6]:
glob.glob("*.csv")

['Publisher_data_2017_Feb.csv', 'Publisher_data_2017_Jan.csv']

In [36]:
pub = pd.read_csv("Publisher_data_2017_Feb.csv")

C:\Program Files\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [40]:
pub.tail(20)

,Month,Advertiser,Advertiser ID,Advertiser Status,Advertiser Integration Code,App/URL,App/URL ID,Public Inventory,Advertiser Currency,Impressions,Clicks,Revenue (Adv Currency)
467433,2017/02,Toyota_UK_Zenith,5071.0,Active,NaN,zoover.co.uk,1.00922e+10,Yes,GBP,1.800000e+01,0.0,0.188388
467434,2017/02,Toyota_UK_Zenith,5071.0,Active,NaN,zorpia.com,1.77913e+10,Yes,GBP,2.590000e+02,1.0,1.446904
467435,2017/02,Toyota_UK_Zenith,5071.0,Active,NaN,zuma-deluxe.biz,4.633e+10,Yes,GBP,3.000000e+00,0.0,0.018701
467436,2017/02,Toyota_UK_Zenith,5071.0,Active,NaN,zuri.net,2.18602e+09,Yes,GBP,1.000000e+00,0.0,0.004294
467437,2017/02,Toyota_UK_Zenith,5071.0,Active,NaN,zvirata.1001hry.cz,3.60163e+10,Yes,GBP,1.000000e+00,0.0,0.004357
467438,2017/02,Toyota_UK_Zenith,5071.0,Active,NaN,zx6r.com,1.8107e+10,Yes,GBP,2.100000e+01,0.0,0.112576
467439,2017/02,Toyota_UK_Zenith,5071.0,Active,NaN,zyczenia.tja.pl,5.2502e+10,Yes,GBP,9.000000e+00,0.0,0.029689
467440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.447061e+08,373137.0,NaN
467441,Report Time:,2017/04/05 17:15 GMT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
467442,Date Range:,2017/02/01 to 2017/02/28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
467443,Group By:,Month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
467444,Group By:,Advertiser,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
467445,Group By:,Advertiser ID,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
467446,Group By:,Advertiser Status,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
467447,Group By:,Advertiser Integration Code,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
467448,Group By:,App/URL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
467449,Group By:,App/URL ID,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
467450,Group By:,Public Inventory,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
467451,Group By:,Advertiser Currency,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
467452,Filter by Partner ID:,151,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
pub["App/URL"].isnull()

0         False
1         False
2         False
3         False
4         False
5         False
6         False
7         False
8         False
9         False
10        False
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25        False
26        False
27        False
28        False
29        False
          ...
467423    False
467424    False
467425    False
467426    False
467427    False
467428    False
467429    False
467430    False
467431    False
467432    False
467433    False
467434    False
467435    False
467436    False
467437    False
467438    False
467439    False
467440     True
467441     True
467442     True
467443     True
467444     True
467445     True
467446     True
467447     True
467448     True
467449     True
467450     True
467451     True
467452     True
Name: App/URL, dtype: bool

In [54]:
pub["App/URL"] == np.nan

0         False
1         False
2         False
3         False
4         False
5         False
6         False
7         False
8         False
9         False
10        False
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25        False
26        False
27        False
28        False
29        False
          ...
467423    False
467424    False
467425    False
467426    False
467427    False
467428    False
467429    False
467430    False
467431    False
467432    False
467433    False
467434    False
467435    False
467436    False
467437    False
467438    False
467439    False
467440    False
467441    False
467442    False
467443    False
467444    False
467445    False
467446    False
467447    False
467448    False
467449    False
467450    False
467451    False
467452    False
Name: App/URL, dtype: bool