In [1]:
import pandas as pd
import numpy as np

In [2]:
ndata = pd.read_csv("NextData.csv")

In [3]:
ndata = ndata.drop(ndata.index[336::])

In [4]:
ndata = ndata.drop(["Advertiser ID", "Advertiser Status", "Advertiser Integration Code"], axis=1)

In [7]:
ndata.columns=['Advertiser', 'TOD', 'Country', 'DeviceType',
       'AdvertiserCurrency', 'Impressions',
       'MeasurableImpressions',
       'ViewableImpressions', 'Clicks',
       'Spend']

In [9]:
ndata["CTR"] = ndata.Clicks / ndata.Impressions

In [10]:
ndata["CPM"] = ndata.Spend / ndata.Impressions * 1000

In [11]:
ndata.Country = ndata.Country.astype("category")
ndata.DeviceType = ndata.DeviceType.astype("category")

---

In [16]:
#below we use .loc[] to extract all the fields 
ndata.loc[:,:].head()

,Advertiser,TOD,Country,DeviceType,AdvertiserCurrency,Impressions,MeasurableImpressions,ViewableImpressions,Clicks,Spend,CTR,CPM
0,Next_UK_Zenith,0.0,DE,Desktop,GBP,16033.0,15214.0,4048.0,3.0,15.064673,0.000187,0.939604
1,Next_UK_Zenith,0.0,HK,Desktop,GBP,24158.0,23581.0,9229.0,19.0,51.533391,0.000786,2.133181
2,Next_UK_Zenith,1.0,DE,Desktop,GBP,31903.0,30341.0,7678.0,6.0,25.592858,0.000188,0.802209
3,Next_UK_Zenith,1.0,GB,Desktop,GBP,94044.0,92256.0,57478.0,157.0,301.121433,0.001669,3.201921
4,Next_UK_Zenith,1.0,GB,Tablet,GBP,53025.0,48877.0,25243.0,49.0,125.552097,0.000924,2.367791

In [20]:
ndata.loc[1:100,("Country")]

1      HK
2      DE
3      GB
4      GB
5      GB
6      IL
7      TW
8      CZ
9      DE
10     RO
11     RU
12     AU
13     GB
14     IE
15     TW
16     IL
17     AU
18     GB
19     IE
20     CZ
21     RO
22     RU
23     AU
24     GB
25     GB
26     HK
27     AU
28     AU
29     DE
30     GB
       ..
71     SK
72     DE
73     GB
74     CZ
75     RU
76     SK
77     UA
78     CZ
79     IL
80     SK
81     DE
82     GB
83     HK
84     IE
85     IL
86     UA
87     IL
88     TW
89     GB
90     GB
91     IE
92     DE
93     TW
94     AU
95     IE
96     TW
97     IL
98     UA
99     GB
100    GB
Name: Country, dtype: category
Categories (12, object): [AU, CZ, DE, GB, ..., RU, SK, TW, UA]