In [24]:
import pandas as pd
import numpy as np

In [25]:
#syntax as manual data frame using dictionary method 
#a good thing about this is is that you can make sure column label is in place and the corresponding data come under the column
data = pd.DataFrame({"one": [1., 2., 3., 4.], "two": [4., 3., 2., 1.]})

In [26]:
data

   one  two
0  1.0  4.0
1  2.0  3.0
2  3.0  2.0
3  4.0  1.0

In [27]:
#below is the way to create a one column series 
pd.DataFrame(data=[1, 2, 3, 4], columns=["car"])

   car
0    1
1    2
2    3
3    4

In [28]:
#if you were to pass on 2 columns not using dictionary then you data will be laid horizontally as below
pd.DataFrame(data=[[1, 2, 3, 4], [100, 200, 300, 400]], columns=["car", "animal", "fruit", "moew"])

   car  animal  fruit  moew
0    1       2      3     4
1  100     200    300   400

In [29]:
#if you like to customise the index/row then you use index function
pd.DataFrame(data=[[1, 2, 3, 4], [100, 200, 300, 400]], columns=["car", "animal", "fruit", "moew"], 
            index=[12, 24])

    car  animal  fruit  moew
12    1       2      3     4
24  100     200    300   400

In [30]:
#or we can use the transpose functions 
ggg = pd.DataFrame(data=[["sam", "nana", "fish", "steve"], [30, 35, 2, 32]])
ggg

     0     1     2      3
0  sam  nana  fish  steve
1   30    35     2     32

In [31]:
ggg = ggg.transpose()
ggg.columns = ["name", "age"]
ggg

    name age
0    sam  30
1   nana  35
2   fish   2
3  steve  32

---

In [76]:
#below we explore subsetting infinite level, error, NaN
dataset = pd.DataFrame({"one":[12, 24, 33, 0], "two":[1, 14, 23, np.nan], "aaa":[0, 13, 17, 18]})

In [77]:
dataset["INF"] = dataset.aaa / dataset.one

In [78]:
dataset

   aaa  one   two       INF
0    0   12   1.0  0.000000
1   13   24  14.0  0.541667
2   17   33  23.0  0.515152
3   18    0   NaN       inf

In [64]:
#.isnull() is a pandas attribute to find out NaN value
dataset.two.isnull() == True

0    False
1    False
2    False
3     True
Name: two, dtype: bool

In [68]:
#if we try to use numpy np.nan for equal operator it's not going to work as nothing is EQUAL to no value
dataset.two[3] == np.nan

False

In [70]:
dataset.INF == np.inf

0    False
1    False
2    False
3     True
Name: INF, dtype: bool

In [69]:
#here to identify the inf value
dataset.INF[dataset.INF == np.inf]

3    inf
Name: INF, dtype: float64

In [ ]:
#we can replace it above as below
#dataset.INF[dataset.INF == np.inf] = 0
#or we can use replace function()
dataset.INF = dataset.INF.replace(np.inf, 0)
dataset

In [81]:
dataset.two.isnull()

0    False
1    False
2    False
3     True
Name: two, dtype: bool