In [368]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob
import time
%matplotlib inline

---

In [369]:
#DBM data below

In [370]:
DBM = pd.DataFrame()
for file in glob.glob("DBM*.csv"):
    df = pd.read_csv(file)
    df = df[df["Advertiser Currency"].isnull() == False]
    DBM = DBM.append(df, ignore_index=True)

In [371]:
DBM = DBM.loc[:, ["Month", "Advertiser", "Public Inventory", "Impressions", 
                  "Clicks", "Revenue (Adv Currency)", "Media Cost (Advertiser Currency)", "Advertiser Currency"]]

In [372]:
DBM.columns = ["Month", "Advertiser", "Public", "Impressions", "Clicks", "Spend", "Media", "Currency"]

In [373]:
DBM["DSP"] = "DBM"
DBM["Type"] = "General"

---

In [374]:
#YouTube/TrueView data below

In [375]:
YT = pd.DataFrame()
for file in glob.glob("YT*.csv"):
    df = pd.read_csv(file)
    df = df[df["Advertiser Currency"].isnull() == False]
    YT = YT.append(df, ignore_index=True)

In [376]:
YT["Public"] = "N/A"
YT["DSP"] = "DBM"
YT["Type"] = "TrueView"

In [377]:
YT = YT.loc[:, ["Month", "Advertiser", "Public","Impressions", 
                "Clicks", "Revenue (Adv Currency)", "Media Cost (Advertiser Currency)", "Advertiser Currency", "DSP", "Type"]]

In [378]:
YT.columns = ['Month', 'Advertiser', 'Public', 'Impressions', 'Clicks',
       'Spend', 'Media', 'Currency', 'DSP', 'Type']

---

In [379]:
#Videology data below
#please note the data in the template the time frame please select the specific time rather than 'last month'

In [380]:
videology = pd.DataFrame()
for file in glob.glob("Videology*.csv"):
    df = pd.read_csv(file)
    df = df[df["Placement ID"].isnull() == False]
    videology = videology.append(df, ignore_index=True)

In [381]:
videology.columns = ["Advertiser", "Placement", "PlacementName", "Date", "Impressions", "Spend", "Clicks"]

In [382]:
list=[]
for month in videology.Date:
    g = month[-4:] + "/" + "{0:0=2d}".format(time.strptime(month[:3], "%b").tm_mon)
    list.append(g)

In [383]:
videology.Impressions = videology.Impressions.apply(lambda x: float(x.split()[0].replace(',', '')))
videology.Clicks = videology.Clicks.apply(lambda x: float(x.split()[0].replace(',', '')))
videology.Spend = videology.Spend.apply(lambda x: float(x.split()[0].replace(',', '')))

In [384]:
videology["Currency"] = "GBP"
videology["DSP"] = "Videology"
videology["Type"] = "General"
videology.loc[(videology.PlacementName.str.contains("Channel 4")) | 
              (videology.PlacementName.str.contains("C4")), "Type"] = "Channel 4"
videology["Media"] = videology.Spend * 0.7
videology.loc[videology.Type == "Channel 4", "Media"] = videology.Spend * 0.8
videology["Public"] = "N/A"
videology["Month"] = list

In [385]:
videology = videology.loc[:, ['Month', 'Advertiser', 'Public', 'Impressions', 'Clicks', 'Spend',
       'Media', 'Currency', 'DSP', 'Type']]

---

In [386]:
#TheTradeDesk data below

In [387]:
TTD = pd.DataFrame()
for file in glob.glob("TTD*.tsv"):
    df = pd.read_csv(file)
    TTD = TTD.append(df, ignore_index=True)
TTD.columns = ["all"]
TTD = pd.DataFrame(TTD["all"].str.split("\t").tolist(), 
             columns=["Date", "Advertiser","Currency", "PMP", "Impressions", "Clicks", "Spend", "Media"])

In [388]:
TTD["Month"] = TTD.Date.str.split("/").str[2] + "/" + TTD.Date.str.split("/").str[1]
TTD["Public"] = "Yes"
TTD.loc[TTD.PMP.str.contains("PMP"), "Public"] = "No"
TTD["DSP"] = "TTD"
TTD["Type"] = "General"

In [389]:
TTD = TTD.loc[:, ["Month", "Advertiser", "Public", "Impressions", "Clicks", "Spend", "Media", "Currency", "DSP", "Type"]]

In [390]:
TTD.Impressions = TTD.Impressions.astype("float64")
TTD.Clicks = TTD.Clicks.astype("float64")
TTD.Spend = TTD.Spend.astype("float64")
TTD.Media = TTD.Media.astype("float64")

In [391]:
#below is fixed for 2016 TTD data

In [392]:
TTD_old = pd.read_csv("TTD_0116_1216.csv")

In [393]:
TTD_old["Month"] = TTD_old.Date.str.split("/").str[2] + "/" + TTD_old.Date.str.split("/").str[1]
TTD_old["Public"] = "Yes"
TTD_old.loc[TTD_old["Inventory Contract"] == "PMP", "Public"] = "No"
TTD_old["DSP"] = "TTD"
TTD_old["Type"] = "General"

In [394]:
TTD_old = TTD_old.loc[:, ["Month", "Advertiser", "Public", "Impressions", 
                          "Clicks", "Advertiser Cost (Adv Currency)", "Media Cost (Adv Currency)", 
                          "Advertiser Currency Code", "DSP", "Type"]]

In [395]:
TTD_old.columns = ['Month', 'Advertiser', 'Public', 'Impressions', 'Clicks',
       'Spend', 'Media','Currency', 'DSP', 'Type']

In [396]:
TTD = TTD.append(TTD_old, ignore_index=True)

---

In [397]:
#RocketFuel data below

In [417]:
RF = pd.DataFrame()
for file in glob.glob("RF_0117_0317.csv"):
    df = pd.read_csv(file, header=2)
    RF = RF.append(df, ignore_index=True)
RF.Spend = RF.Spend.str.replace("GBP ", "")
RF["Media Cost"] = RF["Media Cost"].str.replace("GBP ", "")

AttributeError: 'DataFrame' object has no attribute 'Spend'

In [411]:
RF["Public"] = "Yes"
RF.loc[RF["Exchange Deal ID"].isnull() == False, "Public"] = "No"
RF["Month"] = RF["Year and Month"].str.split("-").str[0] + "/" + RF["Year and Month"].str.split("-").str[1]
RF["DSP"] = "RocketFuel"
RF["Type"] = "General"
RF["Currency"] = "GBP"

In [412]:
RF = RF.loc[:, ["Month", "Advertiser", "Public", "Imps", "Clicks", "Spend", "Media Cost", "Currency", "DSP", "Type"]]

In [413]:
RF.columns = ['Month', 'Advertiser', 'Public', 'Impressions', 'Clicks', 'Spend', 'Media', 'Currency', 'DSP', 'Type']

In [414]:
RF.Spend = RF.Spend.astype("float64")
RF.Media = RF.Media.astype("float64")

---

In [403]:
#Data from all DSPs

In [404]:
data = DBM.append([TTD, YT, videology, RF], ignore_index=True)

In [405]:
np.unique(data.Currency)
USDtoGBP = 0.77
EURtoGBP = 0.84

In [406]:
data["cSpend"] = data.Spend 
data.loc[data.Currency == "USD","cSpend"] = data.Spend * USDtoGBP
data.loc[data.Currency == "EUR","cSpend"] = data.Spend * EURtoGBP

In [407]:
data.pivot_table(values="Spend", index="Month", columns=["DSP", "Type", "Public"], aggfunc=np.sum).round()

DSP            DBM                      RocketFuel      TTD            \
Type       General             TrueView    General  General
Public          No        Yes       N/A        Yes       No       Yes
Month
2016/01   473262.0  2045017.0  126240.0        NaN      NaN       0.0
2016/02   609759.0  2354635.0  186656.0        NaN      NaN       0.0
2016/03  1051876.0  2612724.0  289921.0        NaN      NaN       NaN
2016/04   535931.0  2162700.0  371005.0        NaN      NaN    2615.0
2016/05   540723.0  1735084.0  153631.0        NaN      NaN   19819.0
2016/06   603414.0  1961338.0  286835.0        NaN      NaN   21837.0
2016/07   470555.0  1454305.0  225570.0        NaN  19428.0   60549.0
2016/08   686579.0  1583842.0  138528.0        NaN  29773.0  163617.0
2016/09   844030.0  1791282.0  172688.0        NaN  37963.0   71513.0
2016/10   784883.0  2101953.0  400381.0        NaN      3.0   45319.0
2016/11   987438.0  1907799.0  351515.0        NaN  23429.0   98703.0
2016/12  1023534.0  1798303.0  174375.0        NaN  91615.0   74246.0
2017/01   445116.0  1154329.0  201930.0        NaN  17489.0   95751.0
2017/02   419350.0   954434.0  175352.0        NaN  16691.0  131737.0
2017/03   597193.0  1169887.0  139000.0        NaN  33715.0  266813.0
2017/04   594247.0  1206795.0  132948.0    22024.0  23500.0  234321.0

DSP     Videology
Type    Channel 4   General
Public        N/A       N/A
Month
2016/01       NaN       NaN
2016/02       NaN       NaN
2016/03       NaN       NaN
2016/04       NaN       NaN
2016/05  121445.0  341517.0
2016/06  163329.0  353411.0
2016/07  104554.0  162814.0
2016/08  215635.0  113612.0
2016/09  302641.0  161261.0
2016/10  831893.0  227547.0
2016/11  841687.0  145597.0
2016/12  480049.0   31477.0
2017/01  264591.0  212558.0
2017/02  518240.0  228212.0
2017/03  433708.0  237404.0
2017/04  518357.0  147026.0

In [408]:
data.pivot_table(values="Spend", index="Month", aggfunc=np.sum).round()

Month
2016/01    2644519.0
2016/02    3151049.0
2016/03    3954521.0
2016/04    3072252.0
2016/05    2912219.0
2016/06    3390165.0
2016/07    2497775.0
2016/08    2931586.0
2016/09    3381378.0
2016/10    4391979.0
2016/11    4356169.0
2016/12    3673598.0
2017/01    2391763.0
2017/02    2444016.0
2017/03    2877722.0
2017/04    2879217.0
Name: Spend, dtype: float64