In [286]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob
import time
%matplotlib inline

---

In [287]:
#DBM data below

In [288]:
DBM = pd.DataFrame()
for file in glob.glob("DBM*.csv"):
    df = pd.read_csv(file)
    df = df[df["Advertiser Currency"].isnull() == False]
    DBM = DBM.append(df, ignore_index=True)

In [289]:
DBM = DBM.loc[:, ["Month", "Advertiser", "Public Inventory", "Impressions", 
                  "Clicks", "Revenue (Adv Currency)", "Media Cost (Advertiser Currency)", "Advertiser Currency"]]

In [290]:
DBM.columns = ["Month", "Advertiser", "Public", "Impressions", "Clicks", "Spend", "Media", "Currency"]

In [291]:
DBM["DSP"] = "DBM"
DBM["Type"] = "General"

---

In [292]:
#YouTube/TrueView data below

In [293]:
YT = pd.DataFrame()
for file in glob.glob("YT*.csv"):
    df = pd.read_csv(file)
    df = df[df["Advertiser Currency"].isnull() == False]
    YT = YT.append(df, ignore_index=True)

In [294]:
YT["Public"] = "N/A"
YT["DSP"] = "DBM"
YT["Type"] = "TrueView"

In [295]:
YT = YT.loc[:, ["Month", "Advertiser", "Public","Impressions", 
                "Clicks", "Revenue (Adv Currency)", "Media Cost (Advertiser Currency)", "Advertiser Currency", "DSP", "Type"]]

In [296]:
YT.columns = ['Month', 'Advertiser', 'Public', 'Impressions', 'Clicks',
       'Spend', 'Media', 'Currency', 'DSP', 'Type']

---

In [297]:
#Videology data below
#please note the data in the template the time frame please select the specific time rather than 'last month'

In [298]:
videology = pd.DataFrame()
for file in glob.glob("Videology*.csv"):
    df = pd.read_csv(file)
    df = df[df["Placement ID"].isnull() == False]
    videology = videology.append(df, ignore_index=True)

In [299]:
videology.columns = ["Advertiser", "Placement", "PlacementName", "Date", "Impressions", "Spend", "Clicks"]

In [300]:
list1=[]
for month in videology.Date:
    g = month[-4:] + "/" + "{0:0=2d}".format(time.strptime(month[:3], "%b").tm_mon)
    list1.append(g)

In [301]:
#repmoving the thousand separator 
videology.Impressions = videology.Impressions.apply(lambda x: float(x.split()[0].replace(',', '')))
videology.Clicks = videology.Clicks.apply(lambda x: float(x.split()[0].replace(',', '')))
videology.Spend = videology.Spend.apply(lambda x: float(x.split()[0].replace(',', '')))

In [302]:
videology["Currency"] = "GBP"
videology["DSP"] = "Videology"
videology["Type"] = "General"
videology.loc[(videology.PlacementName.str.contains("Channel 4")) | 
              (videology.PlacementName.str.contains("C4")), "Type"] = "Channel 4"
videology["Media"] = videology.Spend * 0.7
videology.loc[videology.Type == "Channel 4", "Media"] = videology.Spend * 0.8
videology["Public"] = "N/A"
videology["Month"] = list1

In [303]:
videology = videology.loc[:, ['Month', 'Advertiser', 'Public', 'Impressions', 'Clicks', 'Spend',
       'Media', 'Currency', 'DSP', 'Type']]

---

In [304]:
#TheTradeDesk data below

In [305]:
TTD = pd.DataFrame()
for file in glob.glob("TTD*.tsv"):
    df = pd.read_csv(file)
    TTD = TTD.append(df, ignore_index=True)
TTD.columns = ["all"]
TTD = pd.DataFrame(TTD["all"].str.split("\t").tolist(), 
             columns=["Date", "Advertiser","Currency", "PMP", "Impressions", "Clicks", "Spend", "Media"])

In [306]:
TTD["Month"] = TTD.Date.str.split("/").str[2] + "/" + TTD.Date.str.split("/").str[1]
TTD["Public"] = "Yes"
TTD.loc[TTD.PMP.str.contains("PMP"), "Public"] = "No"
TTD["DSP"] = "TTD"
TTD["Type"] = "General"

In [307]:
TTD = TTD.loc[:, ["Month", "Advertiser", "Public", "Impressions", "Clicks", "Spend", "Media", "Currency", "DSP", "Type"]]

In [308]:
TTD.Impressions = TTD.Impressions.astype("float64")
TTD.Clicks = TTD.Clicks.astype("float64")
TTD.Spend = TTD.Spend.astype("float64")
TTD.Media = TTD.Media.astype("float64")

In [309]:
#below is fixed for 2016 TTD data

In [310]:
TTD_old = pd.read_csv("TTD_0116_1216.csv")

In [311]:
TTD_old["Month"] = TTD_old.Date.str.split("/").str[2] + "/" + TTD_old.Date.str.split("/").str[1]
TTD_old["Public"] = "Yes"
TTD_old.loc[TTD_old["Inventory Contract"] == "PMP", "Public"] = "No"
TTD_old["DSP"] = "TTD"
TTD_old["Type"] = "General"

In [312]:
TTD_old = TTD_old.loc[:, ["Month", "Advertiser", "Public", "Impressions", 
                          "Clicks", "Advertiser Cost (Adv Currency)", "Media Cost (Adv Currency)", 
                          "Advertiser Currency Code", "DSP", "Type"]]

In [313]:
TTD_old.columns = ['Month', 'Advertiser', 'Public', 'Impressions', 'Clicks',
       'Spend', 'Media','Currency', 'DSP', 'Type']

In [314]:
TTD = TTD.append(TTD_old, ignore_index=True)

---

In [315]:
#RocketFuel data below

In [316]:
RF = pd.DataFrame()
for file in glob.glob("RF_0117_0417.csv"):
    df = pd.read_csv(file, header=2)
    RF = RF.append(df, ignore_index=True)
RF.Spend = RF.Spend.str.replace("GBP ", "")
RF["Media Cost"] = RF["Media Cost"].str.replace("GBP ", "")

In [317]:
RF["Public"] = "Yes"
RF.loc[RF["Exchange Deal ID"].isnull() == False, "Public"] = "No"
RF["Month"] = RF["Year and Month"].str.split("-").str[0] + "/" + RF["Year and Month"].str.split("-").str[1]
RF["DSP"] = "RocketFuel"
RF["Type"] = "General"
RF["Currency"] = "GBP"

In [318]:
RF = RF.loc[:, ["Month", "Advertiser", "Public", "Imps", "Clicks", "Spend", "Media Cost", "Currency", "DSP", "Type"]]

In [319]:
RF.columns = ['Month', 'Advertiser', 'Public', 'Impressions', 'Clicks', 'Spend', 'Media', 'Currency', 'DSP', 'Type']

In [320]:
RF.Spend = RF.Spend.astype("float64")
RF.Media = RF.Media.astype("float64")

---

In [321]:
AAP_old = pd.read_csv("Amazon_0116_0317.csv")

In [322]:
data.head()

,Month,Advertiser,Public,Impressions,Clicks,Spend,Media,Currency,DSP,Type,cSpend
0,2016/07,BBC Store_UK_Zenith,No,43275.0,59.0,174.403276,122.083783,GBP,DBM,General,174.403276
1,2016/03,Aviva_UK_Zenith (non-DCM),No,12806.0,438.0,219.431282,145.403610,GBP,DBM,General,219.431282
2,2016/05,Qantas_UK_Zenith,No,35249.0,43.0,176.013562,120.409233,GBP,DBM,General,176.013562
3,2016/10,Toyota_UK_Zenith,No,11489364.0,13085.0,130165.389485,91336.044259,GBP,DBM,General,130165.389485
4,2016/07,Hästens_UK_Zenith,No,40890.0,37.0,464.743776,325.324612,GBP,DBM,General,464.743776

In [323]:
AAP_old = AAP_old.head(147)

In [324]:
AAP_old.date = AAP_old.date.str.split(" ").str[0]
AAP_old.date = AAP_old.date.str.split("/").str[2] + "/" + AAP_old.date.str.split("/").str[1]

In [325]:
AAP_old.head()

,date,advertiser_name,advertiser_id,impressions,clicks,supply cost,net cost,agency markup,total cost
0,2016/01,HomeAway_UK_Zenith,1.505130e+09,1168023.0,311.0,1835.9515,2851.41,0.0,2851.41
1,2016/01,Natwest_UK_Zenith duplicate,1.502036e+09,5326829.0,3667.0,10144.4970,14228.96,0.0,14228.96
2,2016/01,RBS_UK_Zenith,1.502039e+09,594671.0,457.0,1311.1522,2198.10,0.0,2198.10
3,2016/01,Omega Pharma_UK_Zenith,1.505136e+09,773795.0,559.0,2749.8116,3043.90,0.0,3043.90
4,2016/01,Aviva_Zenith,1.502254e+09,586496.0,701.0,1826.6986,1898.92,0.0,1898.92

In [326]:
AAP_old.columns = ['Month', 'Advertiser', 'advertiser_id', 'Impressions', 'Clicks',
       'Media', 'net cost', 'agency markup', 'Spend']

In [327]:
data.head()

,Month,Advertiser,Public,Impressions,Clicks,Spend,Media,Currency,DSP,Type,cSpend
0,2016/07,BBC Store_UK_Zenith,No,43275.0,59.0,174.403276,122.083783,GBP,DBM,General,174.403276
1,2016/03,Aviva_UK_Zenith (non-DCM),No,12806.0,438.0,219.431282,145.403610,GBP,DBM,General,219.431282
2,2016/05,Qantas_UK_Zenith,No,35249.0,43.0,176.013562,120.409233,GBP,DBM,General,176.013562
3,2016/10,Toyota_UK_Zenith,No,11489364.0,13085.0,130165.389485,91336.044259,GBP,DBM,General,130165.389485
4,2016/07,Hästens_UK_Zenith,No,40890.0,37.0,464.743776,325.324612,GBP,DBM,General,464.743776

In [328]:
AAP = pd.DataFrame()
for file in glob.glob("AAP*.csv"):
    df = pd.read_csv(file, usecols=["Date", "Advertiser", "Impressions", "Clickthroughs", 
                                    "Total Cost", "Supply Cost", "Order Currency"])
    AAP = AAP.append(df, ignore_index=True)

In [329]:
AAP = AAP.drop(AAP.index[AAP["Total Cost"] == 0]).reset_index(drop=True)

In [330]:
list2=[]
for month in AAP.Date:
    g = month[-4:] + "/" + "{0:0=2d}".format(time.strptime(month[:3], "%b").tm_mon)
    list2.append(g)

In [332]:
AAP.Date = list2
AAP["Public"] = "N/A"
AAP["DSP"] = "AAP"
AAP["Type"] = "General"

In [333]:
AAP.columns = ['Month', 'Advertiser', 'Currency', 'Media', 'Spend','Impressions', 'Clicks', 'Public', 'DSP', 'Type']

In [338]:
AAP = AAP.loc[:, ['Month', 'Advertiser', 'Public', 'Impressions', 'Clicks', 'Spend', 'Media', 'Currency', 'DSP', 'Type']]

---

In [ ]:
#Data from all DSPs

In [339]:
data = DBM.append([TTD, YT, videology, RF, AAP], ignore_index=True)

In [340]:
np.unique(data.Currency)
USDtoGBP = 0.77
EURtoGBP = 0.84

In [341]:
data["cSpend"] = data.Spend 
data.loc[data.Currency == "USD","cSpend"] = data.Spend * USDtoGBP
data.loc[data.Currency == "EUR","cSpend"] = data.Spend * EURtoGBP

---

In [342]:
#file to ZO folder on desktop

In [343]:
data.sort_values("Month", ascending=True).to_csv("D:\\Users\\ylin\\Desktop\\ZO Spend\\"+"ZO spend.csv", index=False)

In [344]:
data.pivot_table(values="cSpend", index="Month", columns=["DSP", "Type", "Public"], 
                 aggfunc=np.sum).round().to_csv("D:\\Users\\ylin\\Desktop\\ZO Spend\\"+"ZO spend pivot.csv")

In [345]:
data.pivot_table(values="cSpend", index="Month", columns=["DSP", "Type", "Public"], aggfunc=np.sum).round()

DSP          AAP        DBM                      RocketFuel      TTD  \
Type     General    General             TrueView    General  General
Public       N/A         No        Yes       N/A        Yes       No
Month
2016/01      NaN   462491.0  2015535.0  126240.0        NaN      NaN
2016/02      NaN   599799.0  2321375.0  180716.0        NaN      NaN
2016/03      NaN  1042068.0  2574432.0  279131.0        NaN      NaN
2016/04      NaN   525837.0  2141692.0  371005.0        NaN      NaN
2016/05      NaN   537853.0  1718345.0  153631.0        NaN      NaN
2016/06      NaN   601384.0  1900652.0  286835.0        NaN      NaN
2016/07      NaN   470456.0  1444104.0  225570.0        NaN  19428.0
2016/08      NaN   685058.0  1577548.0  138528.0        NaN  29773.0
2016/09      NaN   843696.0  1788445.0  172688.0        NaN  37963.0
2016/10      NaN   784882.0  2080459.0  380387.0        NaN      3.0
2016/11      NaN   987119.0  1905395.0  350509.0        NaN  23429.0
2016/12      NaN  1018084.0  1783496.0  174375.0        NaN  91615.0
2017/01      NaN   442769.0  1138666.0  201930.0     5743.0  17489.0
2017/02      NaN   419031.0   947721.0  175352.0     6835.0  16691.0
2017/03      NaN   596981.0  1165207.0  139000.0     5570.0  33715.0
2017/04  25278.0   593276.0  1188412.0  132948.0    22024.0  23500.0

DSP               Videology
Type              Channel 4   General
Public        Yes       N/A       N/A
Month
2016/01       0.0       NaN       NaN
2016/02       0.0       NaN       NaN
2016/03       NaN       NaN       NaN
2016/04    2615.0       NaN       NaN
2016/05   19819.0  121445.0  341517.0
2016/06   21837.0  163329.0  353411.0
2016/07   60549.0  104554.0  162814.0
2016/08  163617.0  215635.0  113612.0
2016/09   71513.0  302641.0  161261.0
2016/10   45319.0  831893.0  227547.0
2016/11   98703.0  841687.0  145597.0
2016/12   74246.0  480049.0   31477.0
2017/01   95751.0  264591.0  212558.0
2017/02  131737.0  518240.0  228212.0
2017/03  266813.0  433708.0  237404.0
2017/04  234321.0  518357.0  147026.0