In [129]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob
import time
%matplotlib inline

---

In [130]:
#DBM data below

In [131]:
DBM = pd.DataFrame()
for file in glob.glob("DBM*.csv"):
    df = pd.read_csv(file)
    df = df[df["Advertiser Currency"].isnull() == False]
    DBM = DBM.append(df, ignore_index=True)

In [132]:
DBM = DBM.loc[:, ["Month", "Advertiser", "Public Inventory", "Impressions", 
                  "Clicks", "Revenue (Adv Currency)", "Media Cost (Advertiser Currency)", "Advertiser Currency"]]

In [133]:
DBM.columns = ["Month", "Advertiser", "Public", "Impressions", "Clicks", "Spend", "Media", "Currency"]

In [134]:
DBM["DSP"] = "DBM"
DBM["Type"] = "General"

---

In [135]:
#YouTube/TrueView data below

In [136]:
YT = pd.DataFrame()
for file in glob.glob("YT*.csv"):
    df = pd.read_csv(file)
    df = df[df["Advertiser Currency"].isnull() == False]
    YT = YT.append(df, ignore_index=True)

In [137]:
YT["Public"] = "N/A"
YT["DSP"] = "DBM"
YT["Type"] = "TrueView"

In [138]:
YT = YT.loc[:, ["Month", "Advertiser", "Public","Impressions", 
                "Clicks", "Revenue (Adv Currency)", "Media Cost (Advertiser Currency)", "Advertiser Currency", "DSP", "Type"]]

In [139]:
YT.columns = ['Month', 'Advertiser', 'Public', 'Impressions', 'Clicks',
       'Spend', 'Media', 'Currency', 'DSP', 'Type']

---

In [140]:
#Videology data below
#please note the data in the template the time frame please select the specific time rather than 'last month'

In [141]:
videology = pd.DataFrame()
for file in glob.glob("Videology*.csv"):
    df = pd.read_csv(file)
    df = df[df["Placement ID"].isnull() == False]
    videology = videology.append(df, ignore_index=True)

In [142]:
videology.columns = ["Advertiser", "Placement", "PlacementName", "Date", "Impressions", "Spend", "Clicks"]

In [143]:
list1=[]
for month in videology.Date:
    g = month[-4:] + "/" + "{0:0=2d}".format(time.strptime(month[:3], "%b").tm_mon)
    list1.append(g)

In [144]:
#repmoving the thousand separator 
videology.Impressions = videology.Impressions.apply(lambda x: float(x.split()[0].replace(',', '')))
videology.Clicks = videology.Clicks.apply(lambda x: float(x.split()[0].replace(',', '')))
videology.Spend = videology.Spend.apply(lambda x: float(x.split()[0].replace(',', '')))

In [145]:
videology["Currency"] = "GBP"
videology["DSP"] = "Videology"
videology["Type"] = "General"
videology.loc[(videology.PlacementName.str.contains("Channel 4")) | 
              (videology.PlacementName.str.contains("C4")), "Type"] = "Channel 4"
videology["Media"] = videology.Spend * 0.7
videology.loc[videology.Type == "Channel 4", "Media"] = videology.Spend * 0.8
videology["Public"] = "N/A"
videology["Month"] = list1

In [146]:
videology = videology.loc[:, ['Month', 'Advertiser', 'Public', 'Impressions', 'Clicks', 'Spend',
       'Media', 'Currency', 'DSP', 'Type']]

---

In [147]:
#TheTradeDesk data below

In [148]:
TTD = pd.DataFrame()
for file in glob.glob("TTD*.tsv"):
    df = pd.read_csv(file)
    TTD = TTD.append(df, ignore_index=True)
TTD.columns = ["all"]
TTD = pd.DataFrame(TTD["all"].str.split("\t").tolist(), 
             columns=["Date", "Advertiser","Currency", "PMP", "Impressions", "Clicks", "Spend", "Media"])

In [149]:
TTD["Month"] = TTD.Date.str.split("/").str[2] + "/" + TTD.Date.str.split("/").str[1]
TTD["Public"] = "Yes"
TTD.loc[TTD.PMP.str.contains("PMP"), "Public"] = "No"
TTD["DSP"] = "TTD"
TTD["Type"] = "General"

In [150]:
TTD = TTD.loc[:, ["Month", "Advertiser", "Public", "Impressions", "Clicks", "Spend", "Media", "Currency", "DSP", "Type"]]

In [151]:
TTD.Impressions = TTD.Impressions.astype("float64")
TTD.Clicks = TTD.Clicks.astype("float64")
TTD.Spend = TTD.Spend.astype("float64")
TTD.Media = TTD.Media.astype("float64")

In [152]:
#below is fixed for 2016 TTD data

In [153]:
TTD_old = pd.read_csv("TTD_0116_1216.csv")

In [154]:
TTD_old["Month"] = TTD_old.Date.str.split("/").str[2] + "/" + TTD_old.Date.str.split("/").str[1]
TTD_old["Public"] = "Yes"
TTD_old.loc[TTD_old["Inventory Contract"] == "PMP", "Public"] = "No"
TTD_old["DSP"] = "TTD"
TTD_old["Type"] = "General"

In [155]:
TTD_old = TTD_old.loc[:, ["Month", "Advertiser", "Public", "Impressions", 
                          "Clicks", "Advertiser Cost (Adv Currency)", "Media Cost (Adv Currency)", 
                          "Advertiser Currency Code", "DSP", "Type"]]

In [156]:
TTD_old.columns = ['Month', 'Advertiser', 'Public', 'Impressions', 'Clicks',
       'Spend', 'Media','Currency', 'DSP', 'Type']

In [157]:
TTD = TTD.append(TTD_old, ignore_index=True)

In [200]:
TTTD = pd.read_csv("TTTD.csv")

In [221]:
TTTD["Public"] = "Yes"
TTTD

,Date,Advertiser,Advertiser Currency Code,Inventory Contract,Impressions,Clicks,Advertiser Cost (Adv Currency),Media Cost (Adv Currency)
0,01/01/2016,Sanofi_UK_Zenith,GBP,NaN,2,0,"0,00470987228573","0,00330701846347"
1,02/01/2016,Sanofi_UK_Zenith,GBP,NaN,1,0,"0,000204947222042",0
2,30/01/2016,Omega Pharma_UK_Zenith,GBP,NaN,0,1,0,0
3,30/01/2016,Sanofi_UK_Zenith,GBP,NaN,0,1,0,0
4,01/02/2016,Omega Pharma_UK_Zenith,GBP,NaN,0,1,0,0

In [205]:
TTTD.head()

,Date,Advertiser,Advertiser Currency Code,Inventory Contract,Impressions,Clicks,Advertiser Cost (Adv Currency),Media Cost (Adv Currency)
0,01/01/2016,Sanofi_UK_Zenith,GBP,NaN,2,0,"0,00470987228573","0,00330701846347"
1,02/01/2016,Sanofi_UK_Zenith,GBP,NaN,1,0,"0,000204947222042",0
2,30/01/2016,Omega Pharma_UK_Zenith,GBP,NaN,0,1,0,0
3,30/01/2016,Sanofi_UK_Zenith,GBP,NaN,0,1,0,0
4,01/02/2016,Omega Pharma_UK_Zenith,GBP,NaN,0,1,0,0

In [220]:
TTTD.loc[TTTD["Inventory Contract"].isnull() == True,["Inventory Contract"]]

     Inventory Contract
0                   NaN
1                   NaN
2                   NaN
3                   NaN
4                   NaN
5                   NaN
6                   NaN
7                   NaN
8                   NaN
9                   NaN
10                  NaN
11                  NaN
12                  NaN
13                  NaN
14                  NaN
15                  NaN
16                  NaN
17                  NaN
18                  NaN
19                  NaN
20                  NaN
21                  NaN
22                  NaN
23                  NaN
24                  NaN
25                  NaN
26                  NaN
27                  NaN
28                  NaN
29                  NaN
...                 ...
2906                NaN
2919                NaN
2922                NaN
2925                NaN
2926                NaN
2938                NaN
2939                NaN
2942                NaN
2945                NaN
2957                NaN
2961                NaN
2975                NaN
2979                NaN
2991                NaN
2995                NaN
2998                NaN
3003                NaN
3006                NaN
3007                NaN
3012                NaN
3015                NaN
3016                NaN
3017                NaN
3022                NaN
3025                NaN
3026                NaN
3031                NaN
3034                NaN
3035                NaN
3040                NaN

[1146 rows x 1 columns]

In [ ]:
TTTD.iloc[TTTD["Inventory Contract"] == np.NaN, ]

In [209]:
TTTD["DSP"] = "TTD"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3045 entries, 0 to 3044
Data columns (total 8 columns):
Date                              3045 non-null object
Advertiser                        3045 non-null object
Advertiser Currency Code          3045 non-null object
Inventory Contract                1899 non-null object
Impressions                       3045 non-null int64
Clicks                            3045 non-null int64
Advertiser Cost (Adv Currency)    3045 non-null object
Media Cost (Adv Currency)         3045 non-null object
dtypes: int64(2), object(6)
memory usage: 190.4+ KB

In [207]:
DBM.head()

,Month,Advertiser,Public,Impressions,Clicks,Spend,Media,Currency,DSP,Type
0,2016/07,BBC Store_UK_Zenith,No,43275.0,59.0,174.403276,122.083783,GBP,DBM,General
1,2016/03,Aviva_UK_Zenith (non-DCM),No,12806.0,438.0,219.431282,145.403610,GBP,DBM,General
2,2016/05,Qantas_UK_Zenith,No,35249.0,43.0,176.013562,120.409233,GBP,DBM,General
3,2016/10,Toyota_UK_Zenith,No,11489364.0,13085.0,130165.389485,91336.044259,GBP,DBM,General
4,2016/07,Hästens_UK_Zenith,No,40890.0,37.0,464.743776,325.324612,GBP,DBM,General

---

In [158]:
#RocketFuel data below

In [159]:
RF = pd.DataFrame()
for file in glob.glob("RF*.csv"):
    df = pd.read_csv(file, header=1)
    RF = RF.append(df, ignore_index=True)
RF.Spend = RF.Spend.str.replace("GBP ", "")
RF["Media Cost"] = RF["Media Cost"].str.replace("GBP ", "")

In [160]:
RF["Public"] = "Yes"
RF.loc[RF["Exchange Deal ID"].isnull() == False, "Public"] = "No"
RF["Month"] = RF["Year and Month"].str.split("-").str[0] + "/" + RF["Year and Month"].str.split("-").str[1]
RF["DSP"] = "RocketFuel"
RF["Type"] = "General"
RF["Currency"] = "GBP"

In [161]:
RF = RF.loc[:, ["Month", "Advertiser", "Public", "Imps", "Clicks", "Spend", "Media Cost", "Currency", "DSP", "Type"]]

In [162]:
RF.columns = ['Month', 'Advertiser', 'Public', 'Impressions', 'Clicks', 'Spend', 'Media', 'Currency', 'DSP', 'Type']

In [163]:
RF.Spend = RF.Spend.astype("float64")
RF.Media = RF.Media.astype("float64")

---

In [164]:
#Amazon data below

In [165]:
AAP_old = pd.read_csv("Amazon_0116_0317.csv")

In [166]:
AAP_old = AAP_old.head(147)

In [167]:
AAP_old.date = AAP_old.date.str.split(" ").str[0]
AAP_old.date = AAP_old.date.str.split("/").str[2] + "/" + AAP_old.date.str.split("/").str[1]

In [168]:
AAP_old.columns = ['Month', 'Advertiser', 'advertiser_id', 'Impressions', 'Clicks',
       'Media', 'net cost', 'agency markup', 'Spend']

In [169]:
AAP = pd.DataFrame()
for file in glob.glob("AAP*.csv"):
    df = pd.read_csv(file, usecols=["Date", "Advertiser", "Impressions", "Clickthroughs", 
                                    "Total Cost", "Supply Cost", "Order Currency"])
    AAP = AAP.append(df, ignore_index=True)

In [170]:
AAP = AAP.drop(AAP.index[AAP["Total Cost"] == 0]).reset_index(drop=True)

In [171]:
list2=[]
for month in AAP.Date:
    g = month[-4:] + "/" + "{0:0=2d}".format(time.strptime(month[:3], "%b").tm_mon)
    list2.append(g)

In [172]:
AAP.Date = list2
AAP["Public"] = "N/A"
AAP["DSP"] = "AAP"
AAP["Type"] = "General"

In [173]:
AAP.columns = ['Month', 'Advertiser', 'Currency', 'Media', 'Spend','Impressions', 'Clicks', 'Public', 'DSP', 'Type']

In [174]:
AAP = AAP.loc[:, ['Month', 'Advertiser', 'Public', 'Impressions', 'Clicks', 'Spend', 'Media', 'Currency', 'DSP', 'Type']]

In [175]:
AAP.Spend = AAP.Spend.convert_objects(convert_numeric=True)

C:\Users\ylin\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  """Entry point for launching an IPython kernel.

---

In [176]:
#Turn data below

In [177]:
TURN_old = pd.read_csv("oldTURN_0317_0417.csv")

In [178]:
TURN_old.Month = TURN_old.Month.str.split("/").str[2] + "/" + TURN_old.Month.str.split("/").str[0]

In [179]:
TURN_old["Public"] = "Yes"
TURN_old.loc[~TURN_old.Deal_ID.isin([-1]), "Public"] = "No"
TURN_old["DSP"] = "TURN"
TURN_old["Type"] = "General"
TURN_old["Media"] = TURN_old.Spend * 0.7

In [180]:
TURN_old = TURN_old.loc[:, ['Month', 'Advertiser', 'Public', 'Impressions','Clicks','Spend','Media','Currency', 'DSP', 'Type']]

In [181]:
TURN = pd.DataFrame()
for file in glob.glob("TURN*.csv"):
    df = pd.read_csv(file, encoding="ISO-8859-1")
    TURN = TURN.append(df, ignore_index=True)

In [182]:
TURN.columns = ['Month', 'Advertiser', 'deal_id', 'deal_name', 'Impressions', 'Clicks', 'Currency', 'Spend']

In [183]:
TURN.Spend = TURN.Spend.str.replace("£", "")
TURN.Spend = TURN.Spend.str.replace(",", "")
TURN.Spend = pd.to_numeric(TURN.Spend)

In [184]:
TURN.Month = TURN.Month.str.split("_").str[0] + "/" + TURN.Month.str.split("_").str[1]

In [185]:
TURN["Public"] = "Yes"
TURN.loc[~(TURN.deal_id == "Unknown"), "Public"] = "No"
TURN["DSP"] = "TURN"
TURN["Type"] = "General"
TURN["Media"] = TURN.Spend * 0.7

In [186]:
TURN = TURN.loc[:, ['Month', 'Advertiser', 'Public', 'Impressions', 'Clicks','Spend','Media','Currency','DSP', 'Type']]
TURN = TURN.append(TURN_old, ignore_index=True)

---

In [187]:
#Data from all DSPs

In [188]:
data = DBM.append([TTD, YT, videology, RF, AAP, TURN], ignore_index=True)

In [189]:
np.unique(data.Currency)
USDtoGBP = 0.77
EURtoGBP = 0.84

In [190]:
data["cSpend"] = data.Spend 
data.loc[data.Currency == "USD","cSpend"] = data.Spend * USDtoGBP
data.loc[data.Currency == "EUR","cSpend"] = data.Spend * EURtoGBP

---

In [191]:
#file to ZO folder on desktop

In [197]:
data.sort_values("Month", ascending=True).to_csv("C:\\Users\\ylin\\Desktop\\ZO Spend\\"+"ZO spend.csv", index=False)

In [198]:
data.pivot_table(values="cSpend", index="Month", columns=["DSP", "Type", "Public"], 
                 aggfunc=np.sum, margins=True).round().to_csv("C:\\Users\\ylin\\Desktop\\ZO Spend\\"+"ZO spend pivot.csv")

In [194]:
data.pivot_table(values="cSpend", index="Month", columns=["DSP", "Type", "Public"], aggfunc=np.sum, margins=True).round()

DSP          AAP         DBM                        RocketFuel       TTD  \
Type     General     General               TrueView    General   General
Public       N/A          No         Yes        N/A        Yes        No
Month
2016/01      NaN    462491.0   2015535.0   126240.0        NaN       NaN
2016/02      NaN    599799.0   2321375.0   180716.0        NaN       NaN
2016/03      NaN   1042068.0   2574432.0   279131.0        NaN       NaN
2016/04      NaN    525837.0   2141692.0   371005.0        NaN       NaN
2016/05      NaN    537853.0   1718345.0   153631.0        NaN       NaN
2016/06      NaN    601384.0   1900652.0   286835.0        NaN       NaN
2016/07      NaN    470456.0   1444104.0   225570.0        NaN   19428.0
2016/08      NaN    685058.0   1577548.0   138528.0        NaN   29773.0
2016/09      NaN    843696.0   1788445.0   172688.0        NaN   37963.0
2016/10      NaN    784882.0   2080459.0   380387.0        NaN       3.0
2016/11      NaN    987119.0   1905395.0   350509.0        NaN   23429.0
2016/12      NaN   1018084.0   1783496.0   174375.0        NaN   91615.0
2017/01      NaN    442769.0   1138666.0   201930.0     5743.0   17489.0
2017/02      NaN    419031.0    947721.0   175352.0     6835.0   16691.0
2017/03      NaN    596981.0   1165207.0   139000.0     5570.0   33715.0
2017/04  25278.0    593276.0   1188412.0   132948.0    22024.0   23500.0
2017/05  20469.0    298205.0    926253.0    63504.0    31687.0   37394.0
2017/06      NaN    351915.0    961273.0    85682.0        NaN       NaN
All      45747.0  11260903.0  29579009.0  3638033.0    71860.0  330999.0

DSP                   TURN           Videology                    All
Type               General           Channel 4    General
Public         Yes      No      Yes        N/A        N/A
Month
2016/01        0.0     NaN      NaN        NaN        NaN   2604266.0
2016/02        0.0     NaN      NaN        NaN        NaN   3101890.0
2016/03        NaN     NaN      NaN        NaN        NaN   3895631.0
2016/04     2615.0     NaN      NaN        NaN        NaN   3041149.0
2016/05    19819.0     NaN      NaN   121445.0   341517.0   2892609.0
2016/06    21837.0     NaN      NaN   163329.0   353411.0   3327449.0
2016/07    60549.0     NaN      NaN   104554.0   162814.0   2487475.0
2016/08   163617.0     NaN      NaN   215635.0   113612.0   2923772.0
2016/09    71513.0     NaN      NaN   302641.0   161261.0   3378207.0
2016/10    45319.0     NaN      NaN   831893.0   227547.0   4350490.0
2016/11    98703.0     NaN      NaN   841687.0   145597.0   4352439.0
2016/12    74246.0     NaN      NaN   480049.0    31477.0   3653341.0
2017/01    95751.0     NaN      NaN   264591.0   212558.0   2379496.0
2017/02   131737.0     NaN      NaN   518240.0   228212.0   2443819.0
2017/03   266813.0     0.0  14250.0   433708.0   237404.0   2892649.0
2017/04   234321.0     NaN      1.0   518357.0   147026.0   2885142.0
2017/05   237539.0     2.0   7860.0   483277.0    97798.0   2203986.0
2017/06        NaN  2204.0  20437.0   345388.0    89350.0   1856248.0
All      1524380.0  2206.0  42547.0  5624793.0  2549583.0  54670059.0