In [1]:
import numpy as np

In [4]:
#using arrange to create a list of number 
np.arange(1, 10)

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [20]:
#arrange can go with an interval as how you like
np.arange(1, 10, 2)

array([1, 3, 5, 7, 9])

In [25]:
#linspace creates a series in a similar way as arange but from the other way round
#below creates 10 numbers between number 1 and 10
np.linspace(1, 10, 10)

array([  1.,   2.,   3.,   4.,   5.,   6.,   7.,   8.,   9.,  10.])

In [15]:
#using array to create an array of that list
aaa = [1, 2, 3]
type(aaa)

list

In [16]:
np.array(aaa)

array([1, 2, 3])

In [7]:
#using reshape to forme a matrix
#below arrange provides 12 numbers and reshape put them into a 3 rows x 4 columns matrix
data = np.arange(1, 13)
data.reshape(3, 4)

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [27]:
#above we can use reshape to create 3d array
#total number still remains 12 numbers
#3 of 2 by 2 matrix
data.reshape(3, 2, 2)

array([[[ 1,  2],
        [ 3,  4]],

       [[ 5,  6],
        [ 7,  8]],

       [[ 9, 10],
        [11, 12]]])

In [19]:
#or we can use array and pass a list within a list to create the matrix
np.array([[1, 2, 3, 4], [2, 3, 4, 5]])

array([[1, 2, 3, 4],
       [2, 3, 4, 5]])

In [8]:
#retriving the data from second row 3rd column using []
data.reshape(3, 4)[1, 2]

7

In [12]:
#size returns the total number of elements in the array
data.reshape(3, 4).size

12

---

In [35]:
bbb = np.arange(1,25).reshape(4,6)
bbb

array([[ 1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12],
       [13, 14, 15, 16, 17, 18],
       [19, 20, 21, 22, 23, 24]])

In [36]:
#np.sum sums up all values within the matrix
bbb.sum()

300

In [38]:
#min and max for the minimum and maximum value from the matrix/array
bbb.max()

24

In [39]:
bbb.min()

1

In [40]:
#sums all values of each column
bbb.sum(axis=0)

array([40, 44, 48, 52, 56, 60])

In [43]:
#sums all values of each row
bbb.sum(axis=1)

array([ 21,  57,  93, 129])

In [77]:
#exponential of continuous growth of e
np.exp(bbb)

array([[  2.71828183e+00,   7.38905610e+00,   2.00855369e+01,
          5.45981500e+01,   1.48413159e+02,   4.03428793e+02],
       [  1.09663316e+03,   2.98095799e+03,   8.10308393e+03,
          2.20264658e+04,   5.98741417e+04,   1.62754791e+05],
       [  4.42413392e+05,   1.20260428e+06,   3.26901737e+06,
          8.88611052e+06,   2.41549528e+07,   6.56599691e+07],
       [  1.78482301e+08,   4.85165195e+08,   1.31881573e+09,
          3.58491285e+09,   9.74480345e+09,   2.64891221e+10]])

In [79]:
#square 
np.square([1, 2, 3])

array([1, 4, 9])

In [80]:
#square root 
np.sqrt([1, 4, 9])

array([ 1.,  2.,  3.])

In [84]:
#add 2 serieses/arrays
np.add([1, 2,], [100, 210])

array([101, 212])

---

In [85]:
#below we explore slicing

In [87]:
ggg = np.arange(1,101)

In [88]:
#extracting the first 10 numbers
ggg[0:10]

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [91]:
#extracting the first 10 even numbers
ggg[1:20:2]

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20])

In [92]:
#all the numbers before 20th
ggg[:20]

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20])

In [93]:
#all the odd numbers
ggg[::2]

array([ 1,  3,  5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33,
       35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67,
       69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99])

In [94]:
#the last number
ggg[-1:]

array([100])

In [95]:
#all numbers to the 5th number from the last
ggg[:-5]

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85,
       86, 87, 88, 89, 90, 91, 92, 93, 94, 95])

In [96]:
#display all numbers from the back
ggg[::-1]

array([100,  99,  98,  97,  96,  95,  94,  93,  92,  91,  90,  89,  88,
        87,  86,  85,  84,  83,  82,  81,  80,  79,  78,  77,  76,  75,
        74,  73,  72,  71,  70,  69,  68,  67,  66,  65,  64,  63,  62,
        61,  60,  59,  58,  57,  56,  55,  54,  53,  52,  51,  50,  49,
        48,  47,  46,  45,  44,  43,  42,  41,  40,  39,  38,  37,  36,
        35,  34,  33,  32,  31,  30,  29,  28,  27,  26,  25,  24,  23,
        22,  21,  20,  19,  18,  17,  16,  15,  14,  13,  12,  11,  10,
         9,   8,   7,   6,   5,   4,   3,   2,   1])

In [98]:
#all the even numbers from the back 
ggg[::-2]

array([100,  98,  96,  94,  92,  90,  88,  86,  84,  82,  80,  78,  76,
        74,  72,  70,  68,  66,  64,  62,  60,  58,  56,  54,  52,  50,
        48,  46,  44,  42,  40,  38,  36,  34,  32,  30,  28,  26,  24,
        22,  20,  18,  16,  14,  12,  10,   8,   6,   4,   2])